<style>

.table > tbody > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}
.issue_title{
  width: 100%;
  /* margin: 0 auto; */
  text-align: left;
  /* padding-left: 20px; */
  color: rgb(121, 95, 153);
  /* background-color: #B09CC6; */
  padding-top: 20px;
  padding-bottom: 0px;
  border-radius: 3px;
}



.issue_wrapper{
  max-width: 935px;
  min-height: 950px;
  /*border: 1px solid #dbdbdb;*/
  border-radius: 3px;
  width: 100%;
  height: 100%;
	display: block;
  /*background-color: #FFF;*/
	padding: 10px;
	text-align: center;
	margin: 20px auto;
}

.title_text {
  display: inline-block;
  width: 126px;
  border-bottom: 3px solid #B09CC6;
  text-align: center;
}

.title_content{
    width: 140px;
    margin: 0 auto;
}




.table_design{
  text-align: left;
}

.table_wrapper{
 padding: 10px; 
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
    text-align: left;
}

</style>

<div class='issue_wrapper'>
  <ul class='issue_title'>
    <li class='title_text'>
      <h4>已回答過的問題</h4>
      </li>
  </ul>
  <div class='content_wrapper'> 
  <div class='table_wrapper'>
    <table class='table table-hover table-borderless table_design'>
    <thead>
      <tr>
        <th class="col-md-1"></th>
        <th class="col-md-6" ></th>
        <th class="col-md-3"></th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
        <th class="col-md-1"></th>
      </tr>
    </thead>
    <tbody>
     <% if @responded_issue %>
        <% @responded_issue.each do |ri| %>
        <tr>
          <td><%= label_tag ri.option.issue.id %></td>
          <td><%= label_tag ri.option.issue.content %></td>
          <td><%= label_tag ri.option.content %></td>
          <td><%= label_tag ri.updated_at.strftime('%x') %> </td>
          <td><%= link_to "改答案", edit_dashboard_user_respond_path(@user, ri.id), class:"btn btn-purple" %></td>
          <td><%= link_to "誰答過？", issue_path(ri.option.issue.id), class:"btn btn-purple" %></td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
    </table>
  </div>
</div>
</div>

<div class='issue_wrapper'>
  <ul class='issue_title'>
    <li class='title_text'>
      <h4>未回答過的問題</h4>
      </li>
  </ul>
  <div class='content_wrapper'> 
  <div class='table_wrapper'>
    <table class='table table-hover table-borderless'>
    <thead>
      <tr>
        <th class="col-md-2">Issue ID</th>
        <th class="col-md-6" >Issue Content</th>
        <th class="col-md-2">修改</th>
      </tr>
    </thead>
    <tbody>
       <% @unresponded_issue.each do |nri| %>
        <tr>
          <td><%= label_tag nri.id %></td>
          <td><%= label_tag nri.content %></td>
          <td><%= link_to "回答", new_dashboard_user_respond_path(@user,:q => nri.id),class:"btn btn-purple" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>