
  <% if @questionnaire.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
        <% @questionnaire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>






  <p>
  <%= f.label "Questionnaire Name:" %>
  <%= f.text_field :name %>
  <div class="field">
      
  <table class="table">
  <%= hidden_field_tag 'questionnaire[survey_ids][]','' %>
      
    <thead>
      <tr>

        <td>SURVEY ID</td>
        <td>SURVEY NAME</td>

      </tr>
    </thead>
    <tbody>
     <% @survey.each do |survey| %> 

      <tr>

        <td><%= survey.id %></td>
        <td>
        <%= check_box_tag "questionnaire[survey_ids][]", survey.id, @questionnaire.survey.include?(survey) %>
        <%= label_tag survey.name %>
        </td>

      </tr>

      
    </tbody><% end %>
  </table>
  </div>


  

    <div class="actions">
    <%= f.submit %>
    </div>

