<h1>Editing Questionnaire</h1>

<%= form_for(@questionnaire, :url => dashboard_admin_questionnaire_path(@questionnaire), method: :PATCH) do |f| %>

<%= render 'form', :f => f %>

<% end %>

<%= link_to 'Show', dashboard_admin_questionnaire_path(@questionnaire) %> |
<%= link_to 'Back', dashboard_admin_questionnaires_path %>
