<p id="notice"><%= notice %></p>

<h1>Listing Questionnaires</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questionnaire.each do |questionnaire| %>
      <tr>
        <td><%= questionnaire.id %></td>
        <td><%= questionnaire.name %></td>
        <td><%= link_to 'Show', dashboard_admin_questionnaire_path(questionnaire)%></td>
        <td><%= link_to 'Edit', edit_dashboard_admin_questionnaire_path(questionnaire) %></td>
        <td><%= link_to 'Destroy', dashboard_admin_questionnaire_path(questionnaire), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Questionnaire', new_dashboard_admin_questionnaire_path %>