<h1> New Questionnaire </h1>
<%= form_for(@questionnaire, :url => dashboard_admin_questionnaires_path, method: :POST) do |f| %>

<%= render 'form', :f => f %>

<% end %>

<%= link_to 'Back', dashboard_admin_questionnaires_path %>
