<p id="notice"><%= notice %></p>

<p>
  <strong>Questionnaire Name:</strong>
  <%= @questionnaire.name %>
  
</p>

<table class="table">

<thead>
      <tr>

        <td>SURVEY NAME</td>
        <td>Questions</td>

      </tr>
    </thead>
    <tbody>

<% @questionnaire.survey.each do |survey| %>
	<tr> 
		<td><%= survey.name %></td>
	    <td>
	    <% survey.question.each do |question| %>
		<li><%= question.content %></li>
			<ol>
		    <% question.answer.each do |answer| %>
			    <li><%= answer.content %></li>
		    <% end %>
		    </ol>
		<% end %>
		</td>
	</tr>
<% end %>
</tbody>
</table>



<%= link_to 'Edit', edit_dashboard_admin_questionnaire_path(@questionnaire) %> |
<%= link_to 'Back', dashboard_admin_questionnaires_path %>

