<style>

.edit {
    width:30%;
    margin: 50px auto;
}
    


.form-horizontal .form-group{
    margin: 0px auto;
    margin-bottom: 10px;
}

.edit_banner {
  position:relative;
  width: 100%;
  height: 700px;
  /*background-color: rgb(0, 0, 0);*/
  display: block;
  box-sizing: border-box;
  text-align: center;
  background: url(<%= asset_path '1500765_2.png' %>);
  background-size: cover;
  
}

.edit_first_banner{
  width: 100%;
  height: 100%;
  
  /*background: url(<%= asset_path '1500765_4.png' %>), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));*/
  
  /*opacity: 0.5;*/
  /*background-color: rgba(0,0,0,0.5);*/
}




.edit_left_banner {
    width: 50%;
    /* height: 100%; */
    float: left;
    /* background-color: rgba(0, 0, 0, 0.42); */
    font-size: 65px;
    display: inline-block;
    color: #FFF;
    box-sizing: border-box;
    text-align: right;
    margin-top: 150px;
    margin-left: 80px;
    margin-right: 10px;
    /* padding-top: 140px; */
    /* padding-left: 0px; */
}

hr {
    border: 0;
    margin: 20px;
    border-top: 1px solid #eeeeee;
}


.clearfix:after {
  visibility: hidden; 
	display: block; 
	font-size: 0;
	content:' '; 
	clear: both;
	height: 0px;
}


.banner_word{
  display: block;  
}



.edit_right_banner {
    /* width: 50%; */
    /* height: 100%; */
    position: relative;
    /*float: left;*/
    /* background-color: rgba(0, 0, 0, 0.42); */
    /*margin-left: 10px;*/
    margin-top: 100px;
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
    background: linear-gradient(rgba(99,65,51,0.50),rgba(210,204,162,0.5));
}

/*註冊跟登入的panel*/

.edit_panel{
    width: 350px;
    /* width: 50%; */
    /* margin: 100px 0 0 60px; */
    background-color: transparent;
    color: #FFF;
    border-color: #6C4F8F;
    margin: 0 auto;
}
    

div.edit_heading.panel-heading{
    background-color:#6c4f8f;
    color:#FFF;
    text-align:center;
    border-color: #6C4F8F;
}

.panel-body {
    padding: 15px;
    text-align: left;
}

.form-horizontal .form-group{
    margin: 0px auto;
    margin-bottom: 10px;
}

.btn-primary {
    color:#FFF;
    background-color: #79589f;
    border-color: #5a4278;
    width: 100%;
    background-image: -webkit-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
    background-image: -webkit-gradient(linear,right top,left bottom,color-stop(0,rgba(159,88,150,0)),color-stop(1,rgba(159,88,150,0.6)));
    background-image: -o-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
    background-image: -moz-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
    background-image: -webkit-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
    background-image: -ms-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
    background-image: linear,to left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%;
}

.btn-primary:hover {
    color:#FFF;
    background-color: #6c4f8f;
    border-color: #5a4278;
   
}



a:hover {
   
    background-color:transparent;
}






</style>


<% content_for :edit_banner do %>
    <div class='wrapper'>
        <div class='edit_banner'>
            <ul class = 'edit_first_banner clearfix'>
                <li class = 'edit_right_banner'>
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
                    <%= devise_error_messages! %>
                        <div class="edit_panel panel panel-default">
                            <div class="edit_heading panel-heading"><h3 class="panel-title">編輯個人檔案</h3> </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <%= f.label "個人資料圖片" %>
                                    <%= f.file_field :avatar %>
                                </div>
                                <div class="form-group">
                                    <%= f.label :name %><%= f.text_field :name, autofocus: true, class: 'form-control' %>
                                </div>
                                <div class="form-group">
                                    <%= f.label :email %><%= f.email_field :email, class: 'form-control', required: true, autofocus: true  %>
                                </div>
                                <div class="form-group">
                                    <%= f.label :password %><%= f.password_field :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, class: 'form-control'  %>
                                </div>
                                <div class="form-group">
                                    <%= f.label :password_confirmation %><%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', required: false  %>
                                 </div>
                                <div class="form-group">
                                    <%= f.label :current_password %><%= f.password_field :current_password, autocomplete: "off", class: 'form-control', required: true, hint: "we need your current password to confirm your changes" %>
                                </div>
                                <div class="form-group">
                                    <%= f.submit "Update", class: "btn btn-primary" %>
                                </div>
                          </div>
                        </div>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>

<% end %>

