<style>

/*註冊*/

.wrapper{
    width:100%;
    margin: 0 auto;
    position:relative;
}


.registration_banner {
  position:relative;
  width: 100%;
  height: 700px;
  /*background-color: rgb(0, 0, 0);*/
  display: block;
  box-sizing: border-box;
  text-align: center;
  background: url(<%= asset_path '1500765_4.png' %>);
  background-size: cover;
  
}

.registration_first_banner{
  width: 100%;
  height: 100%;
  
  /*background: url(<%= asset_path '1500765_4.png' %>), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));*/
  
  /*opacity: 0.5;*/
  background-color: rgba(0,0,0,0.5);
}




.registration_left_banner {
    width: 50%;
    /* height: 100%; */
    float: left;
    /* background-color: rgba(0, 0, 0, 0.42); */
    font-size: 65px;
    display: inline-block;
    color: #FFF;
    box-sizing: border-box;
    text-align: right;
    margin-top: 150px;
    margin-left: 80px;
    margin-right: 10px;
    /* padding-top: 140px; */
    /* padding-left: 0px; */
}

hr {
    border: 0;
    margin: 20px;
    border-top: 1px solid #eeeeee;
}


.clearfix:after {
  visibility: hidden; 
	display: block; 
	font-size: 0;
	content:' '; 
	clear: both;
	height: 0px;
}


.banner_word{
  display: block;  
}



.registration_right_banner {
    /* width: 50%; */
    /* height: 100%; */
    position: relative;
    float: left;
    /* background-color: rgba(0, 0, 0, 0.42); */
    margin-left: 10px;
    margin-top: 100px;
    display: inline-block;
}

/*註冊跟登入的panel*/

.registration_panel, .signin_panel{
    width: 350px;
    /* width: 50%; */
    /* margin: 100px 0 0 60px; */
    background-color: transparent;
    color: #FFF;
    border-color: #6C4F8F;
    margin: 0 auto;
}
    

div.registration_heading.panel-heading, div.signin_heading.panel-heading{
    background-color:#6c4f8f;
    color:#FFF;
    text-align:center;
    border-color: #6C4F8F;
}


.panel-body {
    padding: 15px;
    text-align: left;
}

.form-horizontal .form-group{
    margin: 0px auto;
    margin-bottom: 10px;
}

.btn-primary {
    color:#FFF;
    background-color: #79589f;
    border-color: #5a4278;
    width: 100%;
    background-image: -webkit-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
    background-image: -webkit-gradient(linear,right top,left bottom,color-stop(0,rgba(159,88,150,0)),color-stop(1,rgba(159,88,150,0.6)));
    background-image: -o-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
    background-image: -moz-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
    background-image: -webkit-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
    background-image: -ms-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
    background-image: linear,to left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%;
}

.btn-primary:hover {
    color:#FFF;
    background-color: #6c4f8f;
    border-color: #5a4278;
}

/*愛情疑難雜症*/

.problems_banner{
    
    /*text-align: left; */
    position: relative;
    text-align: center;
    /*width: 95%;*/
    /* height: 400px; */
    margin: 20px auto;
    padding-top: 45px;
}

.problems-logo {
    background-image: url(<%= asset_path 'qupid_250_70_p.png' %>);
    display: inline-block;
    width: 125px;
    height: 35px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-bottom: 10px;
}

.problems_title{
    
    /*position: absolute;*/
    /*top: 0px;*/
    /* left: 142px; */
    /* text-align: center; */
    /* margin-top: 30px; */
    /* border-bottom: 1px solid rgb(102, 74, 131); */
    /* margin: 0 auto; */
    /* padding-left: 30px; */
    width: 100%;
    color: #664A83;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); */
  
}

.problems_list {
    /*width: 90%;*/
    text-align: center;
    margin: 10px auto;
}



.problems_box {
    position: relative;
    width: 282px;
    height: 330px;
    display: inline-block;
    /*float: left;*/
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.problems_box_260 {
    position: relative;
    width: 262px;
    height: 330px;
    display: inline-block;
    /*float: left;*/
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.problems_box_240 {
    position: relative;
    width: 242px;
    height: 330px;
    display: inline-block;
    /*float: left;*/
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.problems_box_220 {
    position: relative;
    width: 222px;
    height: 330px;
    display: inline-block;
    /*float: left;*/
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.problems_box_200 {
    position: relative;
    width: 202px;
    height: 330px;
    display: inline-block;
    /*float: left;*/
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}


.problems_body{
  padding: 0px;
}



.problems_footer{
    height: 150px;
    background-color: #FFF;
    /*height: 100px;
    background-color: #8B589B;
    color:#FFF;
    background-image: -webkit-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);*/
}

.panel-footer {
    padding: 35px 15px;
    background-color: #FFF;
    /*background-color: #f5f5f5;*/
    border-top: 0px solid #ddd; 
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.problems_pic {
    display: inline-block;
    background: url(<%= asset_path 'index_banner.png' %>);
    width: 280px;
    height: 190px;
    /*background-size: 100% 100%;*/
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);*/
    margin: 0 auto;
    float: left;
}

.problems_pic1{ background-position: 0px 0px;}
.problems_pic2{ background-position: -280px 0px;}
.problems_pic3{ background-position: -560px 0px;}
.problems_pic4{ background-position: -840px 0px;}


.problems_pic_260 {
    display: inline-block;
    background: url(<%= asset_path 'index_banner_260_160_2.png' %>);
    width: 260px;
    height: 160px;
    /*background-size: 100% 100%;*/
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);*/
    margin: 0 auto;
    float: left;
}

.problems_pic_260_1{ background-position: 0px 0px;}
.problems_pic_260_2{ background-position: -260px 0px;}
.problems_pic_260_3{ background-position: -520px 0px;}
.problems_pic_260_4{ background-position: -780px 0px;}

.problems_pic_240 {
    display: inline-block;
    background: url(<%= asset_path 'index_banner_240_160_2.png' %>);
    width: 240px;
    height: 160px;
    /*background-size: 100% 100%;*/
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);*/
    margin: 0 auto;
    float: left;
}

.problems_pic_240_1{ background-position: 0px 0px;}
.problems_pic_240_2{ background-position: -240px 0px;}
.problems_pic_240_3{ background-position: -480px 0px;}
.problems_pic_240_4{ background-position: -720px 0px;}

.problems_pic_220 {
    display: inline-block;
    background: url(<%= asset_path 'index_banner_220_160_2.png' %>);
    width: 220px;
    height: 160px;
    /*background-size: 100% 100%;*/
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);*/
    margin: 0 auto;
    float: left;
}

.problems_pic_220_1{ background-position: 0px 0px;}
.problems_pic_220_2{ background-position: -220px 0px;}
.problems_pic_220_3{ background-position: -440px 0px;}
.problems_pic_220_4{ background-position: -660px 0px;}


.problems_pic_200 {
    display: inline-block;
    background: url(<%= asset_path 'index_banner_200_160_2.png' %>);
    width: 200px;
    height: 160px;
    /*background-size: 100% 100%;*/
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);*/
    margin: 0 auto;
    float: left;
}

.problems_pic_200_1{ background-position: 0px 0px;}
.problems_pic_200_2{ background-position: -200px 0px;}
.problems_pic_200_3{ background-position: -400px 0px;}
.problems_pic_200_4{ background-position: -600px 0px;}


/*終結單身的必勝神器*/

.slogans_banner{
    background-color: #FFF;
    position: relative;
    text-align: center;
    /*width: 100%;*/
    /* height: 300px; */
    margin: 70px auto 0;
    padding-top: 70px;
    padding-bottom: 70px;
}




.slogans_title{
    /*position: absolute;*/
    /*top: 0px;*/
    /* left: 142px; */
    /* text-align: center; */
    /* margin-top: 30px; */
    /* border-bottom: 1px solid rgb(102, 74, 131); */
    /* margin: 0 auto; */
    /* padding-left: 30px; */
    width: 100%;
    color: #664A83;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); */
  
}

.slogans_list {
    /*width: 80%;*/
    /*width: 78%;*/
    text-align: center;
    /* padding-left: 70px; */
    /* padding-right: 70px; */
    /* padding-top: 20px; */
    
}

.slogans_box {
    width:360px;
    height: 340px;
    display: inline-block;
    text-align: left;
    padding: 95px 35px 120px 35px;
    
    
}

.slogans_boxA {
    background: rgba(148,154,201,0.7);
}
.slogans_boxB {
    background: rgba(233,200,86,0.7);
}
.slogans_boxC {
    background: rgba(223,104,69,0.7);
}






.slogans_icon{
    display: inline-block;
    /* height: 100px; */
    width: 90px;
    margin-right: 0px;
    float: left;
    color: rgba(0, 0, 0, 0.25);
    /*color: #664A83;*/
    font-size: 70px;
    top: 0px;
}

.slogans-texts {
    margin-top: 25px;
    font-size: 18px;
}



.slogans_math{
    width: 30px;
    font-size: 35px;
    color: #664A83;
    float: left;
    margin: 70px auto;
    /* margin-right: 15px; */
    /* margin-left: 15px; */
    display: inline-block;
}





/*四個步驟找到真愛*/


.steps_banner{
    position: relative;
    text-align: center;
    /*width: 95%;*/
    /* height: 300px; */
    margin: 30px auto 30px;
    padding-top: 60px;
}

.steps_title{
    /*position: absolute;*/
    /*top: 0px;*/
    text-align: center;
    margin-top: 30px;
    margin: 0 auto;
    width: 100%;
    color: #664A83;
    /* padding-left: 30px;
    border-bottom: 1px solid rgb(102, 74, 131);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); */
  
}

.steps_list {
    text-align: center;
    margin: 10px auto;
    /* padding-left: 70px; */
    /* padding-right: 70px; */
    /* padding-top: 20px; */
} 


.steps_box {
    
    
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
    padding-top: 50px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    /* margin-top: 20px; */
    margin: 20px 10px;
    /* border: 1px solid rgba(102, 74, 131, 0.55); */
    border-bottom: 1px solid rgba(102,74,131,0.65);
    background: -webkit-linear-gradient(rgb(255, 255, 255),rgb(247, 247, 247));
    
}

.steps_icon {
    display: inline-block;
    width: 100%;
    height: 75px;
    color: #8E579A;
    font-size: 60px;
}



.steps_texts {
    display: inline-block;
    margin-top: 0px;
    width: 100%;
    height: 30px;
    font-size: 20px;
  
}

.steps_des {
    display: inline-block;
    width: 100%;
    height: 60px;
}

.steps_count {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background: #664A83;
    font-weight: bold;
    top: 0px;
    left: 96%;
    margin-top: -10px;
    margin-left: -10px;
    padding: 5px;
    line-height: 20px;
    color: #FFF;
}

/*給你最需要的功能functions*/


.functions_banner{
    position: relative;
    text-align: center;
    /*width: 95%;*/
    /* height: 300px; */
    margin: 30px auto;
    padding-top: 65px;
  
}

.functions_title{
    /*position: absolute;*/
    /*top: 0px;*/
    text-align: center;
    margin-top: 30px;
    width: 100%;
    color: #664A83;
    margin: 0 auto;
    /* padding-left: 30px; 
    
    border-bottom: 1px solid rgb(102, 74, 131);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);*/
  
}


.functions_list {
    /*width: 56%;*/
    /* width: 60%;*/
    margin: 10px auto;
    text-align: center;
    /* padding-left: 70px; */
    /* padding-right: 70px; */
    /* padding-top: 20px; */
}


.functions_box {
    border: 1px solid #e1e1e1;
    background: #fff;
    border-radius: 4px;
    padding: 20px 5px 20px 20px;
    display: inline-block;
    margin: 20px 5px 0px 5px;
    width: 360px;
    box-sizing: border-box;
    padding-left: 70px;
    position: relative;
    text-align: left;
}

ul.functions_list li.functions_box strong {
    color: #905799;
}



.functions_icon{
    position: absolute;
    /* display: inline-block; */
    /* height: 25px; */
    /* width: 25px; */
    float: left;
    color: #664A83;
    font-size: 25px;
    top: 0px;
    left: 30px;
    top: 25px;
}



.pull-left {
    line-height: 30px;
    float: left;
}

.tryit  {
    width: 20%;
    /* color: #FFF; */
    margin: 20px auto 40px;
}

div.tryit a.btn.btn-primary.btn-large {
    color: #FFF;
    width: 100%;
}









@media screen and (max-width: 1200px) and (min-width: 992px){
    .registration_left_banner {
        
        margin-top: 150px;
        margin-right: 10px;
    }
    
    .registration_right_banner {
        margin-top: 100px;
        
    }
    
}

@media screen and (max-width: 992px) and (min-width: 768px){
    .registration_left_banner {
       
        margin-top: 200px;
        margin-left: 0px;
        text-align: right;
    }
    
    .registration_right_banner {
        margin-top: 130px;
        
    }
    
}

@media screen and (max-width: 768px) and (min-width: 480px){
    .registration_left_banner {
        width: 100%;
        text-align: center;
        /*padding-right: 55px;*/
        margin: 30px auto;
        
    }
    
    .registration_right_banner {
        margin-top: 0px;
        width: 100%;
        
    }
    .registration_panel {
        margin: 0 auto;
        
    }
    
}

@media screen and (max-width: 480px) {
    .registration_left_banner {
        width: 100%;
        /*padding-right: 20px;*/
        margin: 30px auto;
        text-align:center;
        
    }
    
    .banner_word h2 {
        font-size: 20px;
        
    }
    
    .registration_right_banner {
        margin-top: 0px;
        width: 100%;
        
    }
    .registration_panel {
        margin: 0 auto;
        
    }
}




    
</style>


<% content_for :registration_banner do %>
<div class='wrapper'>
    
<div class='registration_banner'>
    <ul class = 'registration_first_banner clearfix'>
        
        <li class='registration_left_banner '>
            <div class = 'banner_word'>
            <h1><strong>談戀愛，</strong></h1>
            <h1><strong>一再遇到瞎咖？</strong></h1>
            <hr>
            <h2>幫妳成功終結單身，找到對的那個人 </h2>
            </div>
            
        </li>
        <li class = 'registration_right_banner'>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
            <%= devise_error_messages! %>

                <div class="registration_panel panel panel-default">
                    <div class="registration_heading panel-heading"><h3 class="panel-title">註冊</h3> </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <%= f.label :name %> 
                            <%= f.text_field :name, class: "form-control",required: true, autofocus: true %>
                        </div>

                        <div class="form-group">
                            <%= f.label :email %>
                            <%= f.email_field :email, class: "form-control", required: true %>
                        </div>

                        <div class="form-group">
                            <%= f.label :password %>
                            <%= f.password_field :password, autocomplete: "off", class: "form-control", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)%>
                        </div>

                        <div class="form-group">
                            <%= f.label :password_confirmation %>
                            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", required: true %>
                        </div>

                        <div class="form-group">
                            <%= f.submit "立馬試用", class: "btn btn-primary" %>
                        </div>
                    </div>
                </div>
            <% end %>
        </li>
    </ul>
</div>



<div class='problems_banner'>
    <div class ='problems_title' >
        <h2><strong><span class = "glyphicon glyphicon-tags" aria-hidden="true"></span>     愛情的疑難雜症，<span class = 'problems-logo'></span>為妳一次解決</strong></h2>
    </div>
    <ul class = 'problems_list clearfix'>
        <li class = 'problems_box'>
          <div class="panel panel-default">
            
            <div class="problems_body panel-body">
              <span class="problems_pic problems_pic2"></span>
            </div>
            <div class="problems_footer panel-footer">
                <h4 style='color: rgba(67,0,152,0.85);'><strong>想要認識新朋友？</strong></h4>
                <h5>安安，你好，幾歲？住哪？</h5>
                <h4>沒話聊？</h4>
            </div>
          </div>
        </li>
        <li class = 'problems_box'>
          <div class="panel panel-default">
            
            <div class="problems_body panel-body">
              <span class="problems_pic problems_pic3"></span>
            </div>
            <div class="problems_footer panel-footer">
                <h4 style='color: rgba(67,0,152,0.85);'><strong>想要開啟新戀情？</strong></h4>
                <h5>每天翻來翻去，</h5>
                <h4>還是找不到對的人？</h4>
            </div>
          </div>
        </li>
        <li class = 'problems_box'>
          <div class="panel panel-default">
            
            <div class="problems_body panel-body">
              <span class="problems_pic problems_pic4"></span>
            </div>
            <div class="problems_footer panel-footer">
                <h4 style='color: rgba(67,0,152,0.85);'><strong>想要開花結果？</strong></h4>
                <h5>相處之後，</h5>
                <h4>才發現不適合？</h4>
            </div>
          </div>
        </li>
        <li class = 'problems_box'>
          <div class="panel panel-default">
            
            <div class="problems_body panel-body">
              <span class="problems_pic problems_pic4"></span>
            </div>
            <div class="problems_footer panel-footer">
                <h4 style='color: rgba(67,0,152,0.85);'><strong>想要結婚對象？</strong></h4>
                <h5>到處換桌約會，</h5>
                <h4>花錢找無聊？</h4>
            </div>
          </div>
        </li>
    </ul>
</div>

<div class='problems_banner'>
    <div class ='problems_title' >
        <h2><strong><span class = "glyphicon glyphicon-tags" aria-hidden="true"></span>     愛情的疑難雜症，<span class = 'problems-logo'></span>為妳一次解決</strong></h2>
    </div>
    <ul class = 'problems_list clearfix'>
        <li class = 'problems_box_260'>
          <div class="panel panel-default">
            
            <div class="problems_body panel-body">
              <span class="problems_pic_260 problems_pic_260_2"></span>
            </div>
            <div class="problems_footer panel-footer">
                <h4 style='color: rgba(67,0,152,0.85);'><strong>想要認識新朋友？</strong></h4>
                <h5>安安，你好，幾歲？住哪？</h5>
                <h4>沒話聊？</h4>
            </div>
          </div>
        </li>
        <li class = 'problems_box_260'>
          <div class="panel panel-default">
            
            <div class="problems_body panel-body">
              <span class="problems_pic_260 problems_pic_260_3"></span>
            </div>
            <div class="problems_footer panel-footer">
                <h4 style='color: rgba(67,0,152,0.85);'><strong>想要開啟新戀情？</strong></h4>
                <h5>每天翻來翻去，</h5>
                <h4>還是找不到對的人？</h4>
            </div>
          </div>
        </li>
        <li class = 'problems_box_260'>
          <div class="panel panel-default">
            
            <div class="problems_body panel-body">
              <span class="problems_pic_260 problems_pic_260_4"></span>
            </div>
            <div class="problems_footer panel-footer">
                <h4 style='color: rgba(67,0,152,0.85);'><strong>想要開花結果？</strong></h4>
                <h5>相處之後，</h5>
                <h4>才發現不適合？</h4>
            </div>
          </div>
        </li>
        <li class = 'problems_box_260'>
          <div class="panel panel-default">
            
            <div class="problems_body panel-body">
              <span class="problems_pic_260 problems_pic_260_1"></span>
            </div>
            <div class="problems_footer panel-footer">
                <h4 style='color: rgba(67,0,152,0.85);'><strong>想要結婚對象？</strong></h4>
                <h5>到處換桌約會，</h5>
                <h4>花錢找無聊？</h4>
            </div>
          </div>
        </li>
    </ul>
</div>


<div class='problems_banner'>
    <div class ='problems_title' >
        <h2><strong><span class = "glyphicon glyphicon-tags" aria-hidden="true"></span>     愛情的疑難雜症，<span class = 'problems-logo'></span>為妳一次解決</strong></h2>
    </div>
    <ul class = 'problems_list clearfix'>
        <li class = 'problems_box_240'>
          <div class="panel panel-default">
            
            <div class="problems_body panel-body">
              <span class="problems_pic_240 problems_pic_240_2"></span>
            </div>
            <div class="problems_footer panel-footer">
                <h4 style='color: rgba(67,0,152,0.85);'><strong>想要認識新朋友？</strong></h4>
                <h5>安安，你好，幾歲？住哪？</h5>
                <h4>沒話聊？</h4>
            </div>
          </div>
        </li>
        <li class = 'problems_box_240'>
          <div class="panel panel-default">
            
            <div class="problems_body panel-body">
              <span class="problems_pic_240 problems_pic_240_3"></span>
            </div>
            <div class="problems_footer panel-footer">
                <h4 style='color: rgba(67,0,152,0.85);'><strong>想要開啟新戀情？</strong></h4>
                <h5>每天翻來翻去，</h5>
                <h4>還是找不到對的人？</h4>
            </div>
          </div>
        </li>
        <li class = 'problems_box_240'>
          <div class="panel panel-default">
            
            <div class="problems_body panel-body">
              <span class="problems_pic_240 problems_pic_240_4"></span>
            </div>
            <div class="problems_footer panel-footer">
                <h4 style='color: rgba(67,0,152,0.85);'><strong>想要開花結果？</strong></h4>
                <h5>相處之後，</h5>
                <h4>才發現不適合？</h4>
            </div>
          </div>
        </li>
        <li class = 'problems_box_240'>
          <div class="panel panel-default">
            
            <div class="problems_body panel-body">
              <span class="problems_pic_240 problems_pic_240_1"></span>
            </div>
            <div class="problems_footer panel-footer">
                <h4 style='color: rgba(67,0,152,0.85);'><strong>想要結婚對象？</strong></h4>
                <h5>到處換桌約會，</h5>
                <h4>花錢找無聊？</h4>
            </div>
          </div>
        </li>
    </ul>
</div>


<div class='problems_banner'>
    <div class ='problems_title' >
        <h2><strong><span class = "glyphicon glyphicon-tags" aria-hidden="true"></span>     愛情的疑難雜症，<span class = 'problems-logo'></span>為妳一次解決</strong></h2>
    </div>
    <ul class = 'problems_list clearfix'>
        <li class = 'problems_box_220'>
          <div class="panel panel-default">
            
            <div class="problems_body panel-body">
              <span class="problems_pic_220 problems_pic_220_2"></span>
            </div>
            <div class="problems_footer panel-footer">
                <h4 style='color: rgba(67,0,152,0.85);'><strong>想要認識新朋友？</strong></h4>
                <h5>安安，你好，幾歲？住哪？</h5>
                <h4>沒話聊？</h4>
            </div>
          </div>
        </li>
        <li class = 'problems_box_220'>
          <div class="panel panel-default">
            
            <div class="problems_body panel-body">
              <span class="problems_pic_220 problems_pic_220_3"></span>
            </div>
            <div class="problems_footer panel-footer">
                <h4 style='color: rgba(67,0,152,0.85);'><strong>想要開啟新戀情？</strong></h4>
                <h5>每天翻來翻去，</h5>
                <h4>還是找不到對的人？</h4>
            </div>
          </div>
        </li>
        <li class = 'problems_box_220'>
          <div class="panel panel-default">
            
            <div class="problems_body panel-body">
              <span class="problems_pic_220 problems_pic_220_4"></span>
            </div>
            <div class="problems_footer panel-footer">
                <h4 style='color: rgba(67,0,152,0.85);'><strong>想要開花結果？</strong></h4>
                <h5>相處之後，</h5>
                <h4>才發現不適合？</h4>
            </div>
          </div>
        </li>
        <li class = 'problems_box_220'>
          <div class="panel panel-default">
            
            <div class="problems_body panel-body">
              <span class="problems_pic_220 problems_pic_220_1"></span>
            </div>
            <div class="problems_footer panel-footer">
                <h4 style='color: rgba(67,0,152,0.85);'><strong>想要結婚對象？</strong></h4>
                <h5>到處換桌約會，</h5>
                <h4>花錢找無聊？</h4>
            </div>
          </div>
        </li>
    </ul>
</div>

<div class='problems_banner'>
    <div class ='problems_title' >
        <h2><strong><span class = "glyphicon glyphicon-tags" aria-hidden="true"></span>     愛情的疑難雜症，<span class = 'problems-logo'></span>為妳一次解決</strong></h2>
    </div>
    <ul class = 'problems_list clearfix'>
        <li class = 'problems_box_200'>
          <div class="panel panel-default">
            
            <div class="problems_body panel-body">
              <span class="problems_pic_200 problems_pic_200_2"></span>
            </div>
            <div class="problems_footer panel-footer">
                <h4 style='color: rgba(67,0,152,0.85);'><strong>想要認識新朋友？</strong></h4>
                <h5>安安，你好，幾歲？住哪？</h5>
                <h4>沒話聊？</h4>
            </div>
          </div>
        </li>
        <li class = 'problems_box_200'>
          <div class="panel panel-default">
            
            <div class="problems_body panel-body">
              <span class="problems_pic_200 problems_pic_200_3"></span>
            </div>
            <div class="problems_footer panel-footer">
                <h4 style='color: rgba(67,0,152,0.85);'><strong>想要開啟新戀情？</strong></h4>
                <h5>每天翻來翻去，</h5>
                <h4>還是找不到對的人？</h4>
            </div>
          </div>
        </li>
        <li class = 'problems_box_200'>
          <div class="panel panel-default">
            
            <div class="problems_body panel-body">
              <span class="problems_pic_200 problems_pic_200_4"></span>
            </div>
            <div class="problems_footer panel-footer">
                <h4 style='color: rgba(67,0,152,0.85);'><strong>想要開花結果？</strong></h4>
                <h5>相處之後，</h5>
                <h4>才發現不適合？</h4>
            </div>
          </div>
        </li>
        <li class = 'problems_box_200'>
          <div class="panel panel-default">
            
            <div class="problems_body panel-body">
              <span class="problems_pic_200 problems_pic_200_1"></span>
            </div>
            <div class="problems_footer panel-footer">
                <h4 style='color: rgba(67,0,152,0.85);'><strong>想要結婚對象？</strong></h4>
                <h5>到處換桌約會，</h5>
                <h4>花錢找無聊？</h4>
            </div>
          </div>
        </li>
    </ul>
</div>

<div class ='slogans_banner' >
    <div class ='slogans_title' >
        <h2><strong><span class = "glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>   終結單身的必勝神器：<large style='color:#D64242'>線上做愛情問卷 ＋ 線下與真愛見面</large>  </strong></h2>
    </div>
    <ul class='slogans_list clearfix'>    
        <li class ='slogans_box slogans_boxA'>
            <span class = "slogans_icon glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
            <h2><strong>用心，找對人</strong></h2>
            <p class = 'slogans-texts'>感情不該速食，交往不該只看照片。在一起，也不該只是願打願挨就好。</p> 
            
        </li>
       
        <li class ='slogans_box slogans_boxB'>
            <span class = "slogans_icon glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            <h2><strong>好感度分析</strong></h2>
            <p class = 'slogans-texts'>科學統計與分析，為真愛進行把關，了解自己要什麼，懂他的個人特質。</p>
           
        </li>
        
        <li class ='slogans_box slogans_boxC'>
            <span class = "slogans_icon glyphicon glyphicon-user" aria-hidden="true"></span>
            <h2><strong>客製化活動</strong></h2>
            <p class = 'slogans-texts'>量身定做不尷尬，面對面真心接觸，加上專家的諮詢，提供最中肯建議。</p>
            
        </li>
    </ul>
</div>




<div class ='steps_banner' >
    <div class ='steps_title' >
        <h2><strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>  4 步驟找到真愛  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></strong></h2>
    </div>
    <ul class ='steps_list clearfix'>
        <li class ='steps_box'>
          <span class="steps_count">1</span>
          <div class='round'><span class="steps_icon glyphicon glyphicon-search" aria-hidden="true"></span></div>
          <h3 class="steps_texts"><strong>快速了解彼此</strong></h3>
        </li>
        <li class ='steps_box'>
          <span class="steps_count">2</span>
          <span class="steps_icon glyphicon glyphicon-random" aria-hidden="true"></span>
          <h3 class="steps_texts" ><strong>你們的適合程度</strong></h3>
        </li>
        <li class ='steps_box'>
          <span class="steps_count">3</span>
          <span class="steps_icon glyphicon glyphicon-phone" aria-hidden="true"></span>
          <h3 class="steps_texts" ><strong>每天都有話聊</strong></h3>
        </li>
        <li class ='steps_box'>
          <span class="steps_count">4</span>
          <span class="steps_icon glyphicon glyphicon-cutlery" aria-hidden="true"></span>
          <h3 class="steps_texts" ><strong>跟真愛面對面</strong></h3>
        </li>
      </ul>
</div>


<div class ='functions_banner' >
    <div class ='functions_title' >
        <h2><strong><span class="glyphicon glyphicon-star" aria-hidden="true"></span>  給妳最需要的功能  <span class="glyphicon glyphicon-star" aria-hidden="true"></span></strong></h2>
    </div>
    <ul class ='functions_list clearfix'>
        <li class ='functions_box'>
           
               <span class="functions_icon glyphicon glyphicon-stats" aria-hidden="true"></span>
               <h4><strong>了解妳自己</strong></h4>
                <p>每天回答三個問題，更清楚自己要甚麼！</p>
               
        </li>
        <li class ='functions_box'>
           
               <span class="functions_icon glyphicon glyphicon-eye-open" aria-hidden="true"></span>
               <h4><strong>全面了解他</strong></h4>
               <p>看他回答的問題，知己知彼！</p>
               
        </li>
        <li class ='functions_box'>
            <span class="functions_icon glyphicon glyphicon-send" aria-hidden="true"></span>
            <h4><strong>最棒的破冰利器</strong></h4>
            <p>每天答題幫助開啟新話題，不怕沒話聊！</p>
              
        </li>
        <li class ='functions_box'>
           
               <span class="functions_icon glyphicon glyphicon-resize-small" aria-hidden="true"></span>
               <h4><strong>尋找共通點</strong></h4>
            <p>根據妳和他回答過的問題，從中培養默契！</p>
               
            
        </li>
         <li class ='functions_box'>
            
               <span class="functions_icon glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                <h4><strong>適合的程度</strong></h4>
            <p>一目了然，清楚看出妳和他的適合程度！</p>
               
           
        </li>
        <li class ='functions_box'>
           
               <span class="functions_icon glyphicon glyphicon-glass" aria-hidden="true"></span>
               <h4><strong>客製化優質活</strong></h4>
            <p>面對面好自在，幫助妳展現最好的一面！</p>
              
        </li>
        <li class ='functions_box'>
           
               <span class="functions_icon glyphicon glyphicon-flag" aria-hidden="true"></span>
               <h4><strong>專屬真愛接觸</strong></h4>
            <p>只跟適合的對象見面，快跟瞎咖說再見！</p>
               
        </li>
      </ul>
</div>

<div class="tryit">
     
    
    <a class="btn btn-primary btn-large" href="#top">立馬試用</a>
    
</div>

</div>

<% end %>



