<style>

ul.items , ul.items li{
    width: 75%;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

ul.items li{
  margin: 5px auto;
  border-radius: 5px;
  border: 1px solid #e1e8ed;
  border-bottom: 1px solid rgba(121, 95, 153, 0.5);
  border-top: 1px solid #e1e8ed;
  box-shadow: 1px 1px 3px #e1e8ed;
  display: inline-block;
  width: 100%;
  text-align: left;
  /*padding: 30px 30px 10px 30px;*/
}

.index_content{
  display: block;
  height: 100px;
  padding: 25px 0px 0px 30px;
}

.index_thumb{
  margin-right: 10px;
  display: inline-block;
  float: left;
}

.index_user{
  display: block;
  /*float: left;*/
  padding: 10px;
  /*height: 100px;*/
}

ul.items li img{
  display: block;
  max-width: 100%;
	height: auto;
  border-radius: 100%;
  margin-right: 10px;
  display: inline-block;
  height: auto;
}




.last_issue{
  display: block;
  
}





.footer_match{
  border-top: 1px solid #CCC;
  display: block;
  padding-bottom: 5px;
  padding-top: 15px;
  padding-left: 30px;
  margin-top: 10px;
  /* color: #000; */
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgba(239, 239, 239, 0.5);
  text-align: left;
}

.index_name{
  text-align: center;
  width: 100px;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 15px;
  color: #7A609A;
  margin-right: 10px;
}

.match_percentage{
  display: inline-block;
  margin-right: 5px;
  
}

ul.items li a {
  display: inline-block;
  background: transparent;
  border-radius: 3px;
  color:#7A609A;
  text-decoration: none;
}

div ul li a:hover {
    color:#644F7E;
    background-color: transparent;
    text-decoration: none;
}

.issue_title{
  width: 100%;
  /* margin: 0 auto; */
  text-align: left;
  /* padding-left: 20px; */
  color: rgb(121, 95, 153);
  /* background-color: #B09CC6; */
  padding-top: 20px;
  padding-bottom: 0px;
  border-radius: 3px;
}



.issue_wrapper{
  max-width: 935px;
  min-height: 950px;
  /*border: 1px solid #dbdbdb;*/
  border-radius: 3px;
  width: 100%;
  height: 100%;
	display: block;
  /*background-color: #FFF;*/
	padding: 10px;
	text-align: center;
	margin: 20px auto;
}

.title_text {
  display: inline-block;
  width: 126px;
  border-bottom: 3px solid #B09CC6;
  text-align: center;
}
    
.heart{
  color: rgba(255,0,0,0.6);
}

.this_respond {
  display:block;
  font-size: 16px;
  color: #8C6FB1;
  margin-bottom: 5px;
}
              
.lastest_issue {
  display:block;
}

</style>


<div class='issue_wrapper'>
  <ul class='issue_title'>
    <li class='title_text'>
      <h4><%=  @issue.content %></h4>
      </li>
  </ul>
<div class='content_wrapper'>
  <div class="pagination">
    <%= will_paginate @paginate, :page_links => false if @paginate %>
  </div>
  <div>
  <% if current_user %>
    <ul class='items clearfix'>
      <% @user.each do |user| %>
      <li>
        <span class='index_content'>
        <span class='index_thumb'>
          <%= image_tag(user.avatar.url(:thumb)) %>
        </span>
        <span class='index_user'>
            <span class='this_respond'>
              <strong><%= this_respond(@issue, user) %></strong>
            </span> 
            <span class='lastest_issue'>
                最新問題：<%= user.respond.last.option.issue.content %>
            </span>  
        </span>
        </span>
        <span class='footer_match'>
          <span > 
           <strong><%= link_to user.name, user_path(user), class:'index_name'%></strong> 
          </span>
          <span class='match_percentage'>
          <% if user.respond.any? %>
             <span class='heart'><span class='glyphicon glyphicon-heart'></span> <strong><%= match_percentage(current_user, user) %></strong></span>
          <% else %>
            <span class='heart'><span class='glyphicon glyphicon-heart'></span>  <strong>0%</strong></span>
          <% end %>
          </span>
        </span>
      </li>  
      <% end %>
    </ul>
  <% else %>
    <ul class='items'>
    <% @user.each do |user| %>
      <li>
        <%= image_tag(user.avatar.url(:icon)) %>
        <span class='name'> <%= user.name %></span>
      </li>  
    <% end %>
    </ul>
  <% end %>
</div>
 <%= will_paginate @paginate, :page_links => false if @paginate %>
 </div>
 </div>

