<h1>Editing Survey</h1>

<%= nested_form_for @survey, url: dashboard_admin_survey_path, method: :PATCH do |f| %>

<%= render 'form', :f => f %>

<% end %>

<%= link_to 'Show', dashboard_admin_survey_path(@survey) %> |
<%= link_to 'Back', dashboard_admin_surveys_path %>
