<h1>New Survey</h1>

<%= nested_form_for @survey, url: dashboard_admin_surveys_path, method: :POST do |f| %>
<%= render 'form', :f => f %>
<% end %>
<%= link_to 'Back', dashboard_admin_surveys_path %>
