<p id="notice"><%= notice %></p>

<p>
  <strong>Survey ID:</strong>
  <%= @survey.id %></br>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<ol>
  <% @survey.question.each do |question| %>
  <li><%= question.content %></li>
  <ul>
  	<% question.answer.each do |answer| %>
  	<li><%= answer.content %></li>
  	<% end %>
  </ul>
  <% end %>
</ol>


<%= link_to 'Edit', edit_dashboard_admin_survey_path(@survey) %>
<%= link_to 'Back', dashboard_admin_surveys_path %>





