
<style>
.dashboard_main_content{
  text-align:left;
}
</style>


<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
</script>


<div class='content_wrapper profile_wrapper'> 
  <div class='dashboard_thumb'>
    <%= image_tag @user.avatar.url(:thumb) %>
    <h1 class='thumb_username'><%=@user.name%></h1>
    <hr>
  </div>
  <ul id="tabs" class='dashboard_wrapper clearfix'>
    <li class= 'dashboard_menu'>
      <ul  role="tablist">
        <li  role="tab" tabindex="0" aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true">
          <a href="#tabs-1" class="hbou g6sjr ui-tabs ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">已回答過的問題</a>
        </li>
        <li  role="tab" tabindex="-1" aria-controls="tabs-2" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false">
          <a href="#tabs-2" class="hbou g6sjr ui-tabs ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">個人資料</a>
        </li>
        <li  role="tab" tabindex="-1" aria-controls="tabs-3" aria-labelledby="ui-id-3" aria-selected="false" aria-expanded="false">
          <a href="#tabs-3" class="hbou g6sjr ui-tabs ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3">你也答過的問題</a>
        </li>
        <li  role="tab" tabindex="-1" aria-controls="tabs-3" aria-labelledby="ui-id-3" aria-selected="false" aria-expanded="false">
          <a href="#tabs-4" class="hbou g6sjr ui-tabs ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3">你沒答過的問題</a>
        </li>
      </ul>
    </li>
    <li id="tabs-1" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false">
      <div class='dashboard_content'>
        <ul class='clearfix'>
          <li class='top_paginate'>
            <%= will_paginate @paginate if @paginate %>
          </li>
          <li class='main_paginate'>
            <ul>
              <% @responded_issue.each do |ri| %>
                <li class='dashboard_responded'>
                  <span class='responded_issue'>
                    <%= label_tag ri.option.issue.content, nil, class: 'issue_content' %> 
                  </span>
                  <span class='responded_answer'>
                    <span class='answer_icon'><%= image_tag @user.avatar.url(:icon) , class:'icon_img'%></span>
                    <span class='answer_text'><%= label_tag ri.option.content, nil, class: 'option_content' %></span>
                  </span>
                  <% if ri.option.issue.user.include?(current_user) %>
                    <span class='responded_answer'>
                       <span  class='answer_icon'><%= image_tag current_user.avatar.url(:icon), class:'icon_img' %></span>
                       <span  class='answer_text'><%= label_tag current_user_respond(ri,current_user), nil, class: 'option_content' %></span>
                       
                    </span>
                    <span class='responded_action'> 
                      <%= link_to "改答案", edit_dashboard_user_respond_path(current_user, current_user.issue.find(ri.option.issue.id).respond.find_by(:user_id == current_user).id), class:"btn btn-xs" %> 
                    </span>
                  <% else %>
                    <span class='responded_answer'>
                       <span  class='answer_icon'><%= image_tag current_user.avatar.url(:icon), class:'icon_img' %></span>
                       <span  class='answer_text'><%= label_tag ' 還沒回答', nil, class: 'option_content' %></span>
                    </span>
                    <span  class='responded_action'>
                      <%= link_to "回答", new_dashboard_user_respond_path(:user_id => current_user,:q => ri.option.issue.id),class:"btn  btn-xs" %>
                    </span>
                  <% end %>
                 
                </li>
              <% end %>
            </ul>
          </li>
          <li class='bottom_paginate'>
            <%= will_paginate @paginate if @paginate %>
          </li>
        </ul>
     </div>
    </li>
    <li id="tabs-2" aria-labelledby="ui-id-2" role="tabpanel" aria-hidden="true">
      <div class='dashboard_content'>
        <div class='dashboard_main_content'>
          <div class="dashboard_panel panel ">
            <div class="panel-body">
              <div class="form-group">
                <%= label_tag "地點:" %><%= @profile.location %>
              </div>
              <div class="form-group">
                <%= label_tag "性別:"%><%= @profile.gender %>
              </div>
              <% @issues.each do |issue|%>
              <div class="form-group">
                <%= label_tag issue.content %>
                <%= @profile.option.where(:issue_id => issue.id).first.content %>
							</div>
							<% end %>
            </div>
          </div>
        </div>
     </div>
    </li>
    <li id="tabs-3" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false">
      <div class='dashboard_content'>
        <ul class='clearfix'>
          <li class='top_paginate'>
            <%= will_paginate @paginate if @paginate %>
          </li>
          <li class='main_paginate'>
            <ul>
              
              <% @same_issue.each do |ri| %>
                <li class='dashboard_responded'>
                  <%= label_tag ri.id, nil,  class: "issue_id" %>
                  <%= label_tag ri.content, nil, class: 'issue_content' %> 
                  <%= link_to "改答案", edit_dashboard_user_respond_path(@user, ri.id), class:"btn btn-info" %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class='bottom_paginate'>
            <%= will_paginate @paginate if @paginate %>
          </li>
        </ul>
     </div>
    </li>
    
    
  </ul>
</div>
  

