<style>


.container-fluid {
    width: 100%;
    display: block;
    margin: auto;
    text-align:center;
    /*background-color: rgba(142,103,172,0.50);*/
}


.problems_banner {
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 85%;
  /*background-color: #CFDBE7;*/
  margin: 0 auto;
  /*padding-left: 90px;*/
}

.solutions_banner {
  display: inline-block;
  text-align: center;
  height: 180%;
  width: 85%;
  /*background-color:red;*/
  margin: 0 auto;
  /*padding-left: 90px;*/
}

.problems_button {
    display:inline-block;
    background: url(<%= asset_path 'index_banner.png' %>);
    width: 240px;
    height: 180px;
    /*background-size: 100% 100%;*/
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

.problems_button1{ background-position: 0px 0px;}
.problems_button2{ background-position: -280px 0px;}
.problems_button3{ background-position: -560px 0px;}
.problems_button4{ background-position: -840px 0px;}






.problems_box {
    width: 240px;
    height: 223px;
    margin: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    text-align: center;
    padding: 0;
    float: left;
}

.solutions_box {
    width: 240px;
    height: 100%;
    margin: 10px;
    
    border-radius: 5px;
    text-align: center;
    padding: 0;
    float: left;
}


.panel-default {
    border-color: #ddd;
    padding: 0;
    width: 242px;
    height: 178px;
    border-radius: 5px;
    
}


.panel-footer {
    padding: 10px 15px;
    background-color: transparent;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: -5px;
    
}

.glyphicon-search, .glyphicon-eye-open,.glyphicon-flash,.glyphicon-refresh {
  font-size: 60px;
  color: rgba(249, 125, 141, 0.54);
}

.solution_icon {
  display:inline-block;
  width: 100%;
  height: 75px;
}

.solution_title {
  display:inline-block;
  width: 100%;
  height: 30px;
  font-size: 20px;
  color: rgba(72, 147, 243, 0.8);
}

.solution_text {
  display:inline-block;
  width: 100%;
  height: 60px;
}


.linespan{
  display:block;
  width:400px;
  height:150px;
  line-height: 60px;
  vertical-align:middle;
  float:left;
}

.logo-1 {
    background-image: url(<%= asset_path 'qupid_250_70_p.png' %>);
    display: inline-block;
    width: 125px;
    height: 35px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: -10px;
    line-height: 60px;
   
    
}

.hihi {
  display: inline-block;
  margin-top: 10px;
  line-height: 60px;
  font-size: 25px;
  
}

.clearfix:after {
	visibility: hidden; //我會佔位置，但是隱藏掉
	display: block; //block是區塊，會從頭延伸到尾，
	font-size: 0;
	content:' '; //用空格來代替
	clear: both;
	height: 0px;
	text-align:center;
}

ul.slogan {
  width:70%;
  text-align:center;
  background-color:white;
  margin:0 auto;
}


</style>



<div class="container-fluid">
  
  <div class = 'problems_banner row col-xs-6 col-sm-3'>
    <div class=" problems_box ">
      <div class=" panel panel-default">
       <span class='panel-body problems_button problems_button1'></span>
       <div class="panel-footer ">談戀愛，一再遇到瞎咖？</div>
      </div>
    </div>
    <div class=" problems_box col-xs-6 col-sm-3">
      <div class=" panel panel-default">
       <span class='panel-body problems_button problems_button2'></span>
       <div class="panel-footer ">安安，你好，幾歲？住哪？ </div>
      </div>
    </div>
    <div class=" problems_box col-xs-6 col-sm-3">
      <div class=" panel panel-default">
       <span class='panel-body problems_button problems_button3'></span>
       <div class="panel-footer ">翻來翻去，找不到對的人？</div>
      </div>
    </div>
    <div class=" problems_box col-xs-6 col-sm-3">
      <div class=" panel panel-default">
       <span class='panel-body problems_button problems_button4 '></span>
       <div class="panel-footer ">最重要的是，你們真的適合嗎？</div>
      </div>
    </div>
  </div>
  
  
  
    <ul class="clearfix slogan">
      <li class='linespan'>
        <div class = 'logo-1'></div>
        <span class='hihi'>用心，找對人</span>  
        <p>感情不該速食，交往不該只看照片</p>
        <p>在一起，也不該只是願打願挨就好</p>
      </li>
      <li class='linespan'>
        <div class = 'logo-1'></div>
        <span class='hihi'>大數據分析</span>  
        <p>透過科學化的統計與分析，加上專家的諮詢</p>
        <p>為感情上大大小小的疑難雜症把脈，做最中肯的建議</p>
      </li>
    </ul>
  
  <div class = 'solutions_banner row '>
    <div class=" solutions_box col-xs-6 col-sm-3">
       <span class="solution_icon glyphicon glyphicon-search" aria-hidden="true"></span>
       <span class="solution_title">了解妳自己</span>
       <span class="solution_text">每天回答三個問題，個性解碼，<br>更清楚知道自己要的是甚麼。</span>
    </div>
     <div class=" solutions_box col-xs-6 col-sm-3">
       <span class="solution_icon glyphicon glyphicon-eye-open" aria-hidden="true"></span>
       <span class="solution_title" >也了解他</span>
       <span class="solution_text">看他回答過甚麼問題，知己知彼，<br>妳也能知道他是甚麼樣的人。</span>
    </div>
    <div class=" solutions_box col-xs-6 col-sm-3">
       <span class="solution_icon glyphicon glyphicon-flash" aria-hidden="true"></span>
       <span class="solution_title">妳和他的適合程度</span>
       <span class="solution_text">根據妳和他回答過的問題，<br>可以知道他有多適合妳。</span>
    </div>
     <div class=" solutions_box col-xs-6 col-sm-3">
      <span class="solution_icon glyphicon glyphicon-refresh" aria-hidden="true"></span>
       <span class="solution_title">讓你和他每天都有話聊</span>
       <span class="solution_text">從每天回答的問題開啟新話題，<br>是最好的破冰利器</span>
    </div>
  </div>
</div>

