<style>


.container-fluid {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align:center;
    /*background-color: rgba(142,103,172,0.50);*/
    position:relative;
}

ul.h2 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #79589f;
}

div, ul, li{
    /*background:rgba(0,0,255,0.3);*/
    list-style:none;
    padding:0;
    margin:0;
    /*border-radius:10px;*/
}

.clearfix:after {
	visibility: hidden; //我會佔位置，但是隱藏掉
	display: block; //block是區塊，會從頭延伸到尾，
	font-size: 0;
	content:' '; //用空格來代替
	clear: both;
	height: 0px;
	
	
}




.problems_banner{
  text-align: center;
  border-bottom: 1px solid rgba(202, 174, 27, 0.4);
  padding-bottom: 10px;
  
}

.problems_main {
  text-align: center; 
  margin: 0 auto;
  
}

.problems_box {
  width: 280px;
  height: 220px;
  display: inline-block;
  padding: 0px;
  margin: 10px;
}

.slogans_banner{
  text-align: center;
  margin-top: 30px;
  border-bottom: 1px solid rgba(202, 174, 27, 0.4);
  
}

.slogans_main {
  text-align: center; 
  margin: 0 auto;
  
}

.slogans_box {
  width: 450px;
  height: 100px;
  display: inline-block;
  text-align:left;
  margin: 20px;
}

.solutions_banner{
  text-align: center;
  border-bottom: 1px solid rgba(202, 174, 27, 0.4);
}

.solutions_main {
  text-align: center; 
  margin: 0 auto;
  
}

.solutions_box {
  width: 250px;
  height: 170px;
  display: inline-block;
  padding-top: 15px;
}

.panel {
    margin: 0;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-default {
    width: 282px;
    height: 220px;
    border-color: rgba(202, 174, 27, 0.4);
    padding: 0;
    border-radius: 5px;
}

.panel-body {
    width: 280px;
    height: 190px;
    padding: 0px;
    margin: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.panel-footer {
    width: 280px;
    height: 30px;
    margin: 0px;
    padding-top: 5px;
    background-color: transparent;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    
}




.problems_button {
    /*display: inline-block;*/
    background: url(<%= asset_path 'index_banner.png' %>);
    width: 280px;
    height: 190px;
    /*background-size: 100% 100%;*/
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    margin: 0px;
}

.problems_button1{ background-position: 0px 0px;}
.problems_button2{ background-position: -280px 0px;}
.problems_button3{ background-position: -560px 0px;}
.problems_button4{ background-position: -840px 0px;}

.slogans-logo {
    background-image: url(<%= asset_path 'qupid_250_70_p.png' %>);
    display: inline-block;
    width: 125px;
    height: 35px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.slogans-title {
  display: inline-block;
  line-height: 35px;
  font-size: 25px;
  vertical-align: middle;
}


.slogans-texts {
  margin: 5px 0 10px 130px;
  
}


.glyphicon-search, .glyphicon-eye-open,.glyphicon-flash,.glyphicon-refresh {
  font-size: 60px;
  color: rgba(249, 125, 141, 0.54);
}

.glyphicon-heart-empty,.glyphicon-map-marker {
  font-size: 30px;
  top: 10px;
  
}

.solution_icon {
  display: inline-block;
  width: 100%;
  height: 75px;
}

.solution_title {
  display: inline-block;
  width: 100%;
  height: 30px;
  font-size: 20px;
  color: rgba(72, 147, 243, 0.8);
}

.solution_text {
  display: inline-block;
  width: 100%;
  height: 60px;
}

.register_banner {
  margin-top: 20px;
  
}


.register_banner a {
  background-color:transparent;
  color: #FFF;
  
}

.first_banner{
  width:100%;
  background: url(<%= asset_path '1200_3.png' %>);
  height:750px;
}


</style>
<div class = first_banner>

</div>
<div class = "container-fluid">
  <ul class = 'clearfix'>
    <li class = 'problems_banner'>
      <ul class ='problems_main clearfix'>
        <h2>想不透為什麼還是一個人？</h2>
        <li class = 'problems_box'>
          <div class=" panel panel-default">
            <div class='panel-body problems_button problems_button1'></div>
            <div class="panel-footer ">談戀愛，一再遇到瞎咖？</div>
          </div>
        </li>
        <li class = 'problems_box'>
          <div class="panel panel-default">
          <div class="panel-body problems_button problems_button2">
          </div>
          <div class="panel-footer">安安，你好，幾歲？住哪？</div>
          </div>
        </li>
        <li class = 'problems_box'>
          <div class="panel panel-default">
          <div class="panel-body problems_button problems_button3">
          </div>
          <div class="panel-footer">翻來翻去，找不到對的人？</div>
          </div>
        </li>
        <li class = 'problems_box'>
          <div class="panel panel-default">
          <div class="panel-body problems_button problems_button4">
          </div>
          <div class="panel-footer">最重要的是，你們真的適合嗎？</div>
          </div>
        </li>
      </ul>
    </li>
    <li class ='slogans_banner' >
      <h2>幫妳成功終結單身，找到對的那個人</h2>
      <ul class ='slogans_main clearfix'>
        <li class ='slogans_box'>
          <span class = 'slogans-logo'></span>
          <span class ='slogans-title'>用心，找對人</span> 
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
          <p class='slogans-texts'>感情不該速食，交往不該只看照片。在一起，也不該只是願打願挨就好</p>
          <p class='slogans-texts'></p>
        </li>
        <li class ='slogans_box'>
          <span class = 'slogans-logo'></span>
          <span class ='slogans-title'>大數據分析</span>
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          <p class='slogans-texts'>透過科學化的統計與分析，加上專家的諮詢為感情上大大小小的疑難雜症把脈，做最中肯的建議</p>
          <p class='slogans-texts'></p>
        </li>
      </ul>
    </li>
    <li class ='solutions_banner' >
      <h2>給妳最需要的功能</h2>
      <ul class ='solutions_main clearfix'>
        <li class ='solutions_box'>
          <span class="solution_icon glyphicon glyphicon-search" aria-hidden="true"></span>
          <span class="solution_title">了解妳自己</span>
          <span class="solution_text">每天回答三個問題，個性解碼，<br>更清楚知道自己要的是甚麼。</span>
        </li>
        <li class ='solutions_box'>
          <span class="solution_icon glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          <span class="solution_title" >縮短了解彼此的時間</span>
          <span class="solution_text">看他回答過甚麼問題，知己知彼，<br>妳也能知道他是甚麼樣的人。</span>
        </li>
        <li class ='solutions_box'>
          <span class="solution_icon glyphicon glyphicon-flash" aria-hidden="true"></span>
          <span class="solution_title">妳和他的適合程度</span>
          <span class="solution_text">根據妳和他回答過的問題，<br>可以知道他有多適合妳。</span>
        </li>
        <li class ='solutions_box'>
          <span class="solution_icon glyphicon glyphicon-refresh" aria-hidden="true"></span>
          <span class="solution_title">讓妳和他每天都有話聊</span>
          <span class="solution_text">從每天回答的問題開啟新話題，<br>是最好的破冰利器</span>
        </li>
      </ul>
    </li>
    <li class = 'register_banner'>
      <button type="button" class="btn btn-danger btn-lg"><%= link_to("立馬試用", new_user_registration_path) %></button>
    </li>
  </ul>
</div>


