<style>






div, ul, li{
    
    list-style:none;
    padding:0;
    margin:0;
   
}

.clearfix:after {
	visibility: hidden; 
	display: block; 
	font-size: 0;
	content:' '; 
	clear: both;
	height: 0px;
	
	
}


.first_banner{
  width:100%;
  background: url(<%= asset_path '1500_4.png' %>);
  height:900px;
  background-size: cover;
}

.second_banner{
  width:100%;
  background: url(<%= asset_path '1500_3.png' %>);
  height:900px;
  background-size: cover;
}


.banner_text {
  font-size: 80px;
  display: block;
  margin-top: 0;
  padding-top: 250px;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.42);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}

</style>

<div class = "container-fluid">
  <ul class = 'banner'>
    <h1>
      <li class = 'first_banner' >
        <span class = 'banner_text'>
          <span>談戀愛，一再遇到瞎咖？</span>
           <span> <h2>幫妳成功終結單身，找到對的那個人 <%= link_to "馬上試用", new_user_registration_path, class:'btn btn-danger btn-lg' %></h2></span>
        </span>
      </li>
    </h1>
    <h1>
      <li class = 'second_banner' >
        <span class = 'banner_text'>
          <span>安安，你好，幾歲？住哪？</span>
           <span> <h2>破冰新利器，讓你們每天都有話聊 <%= link_to "馬上試用", new_user_registration_path, class:'btn btn-danger btn-lg' %></h2></span>
           
        </span>
      </li>
    </h1>
    <li></li>
    <li></li>
  </ul>
</div>


