


<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
<%= f.error_notification %>
<%= f.hidden_field :reset_password_token %>

<div class="form-group">
    <%= f.label :password, "New password", class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.password_field :password, required: true, autocomplete: "off", class: "form-control", hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    </div>
</div>

<div class="form-group">
    <%= f.label :password_confirmation, "Confirm new password", class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", required: true  %>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
        <%= f.submit "Change my password", class: "btn btn-primary" %>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
        <%= render "users/shared/links" %>
    </div>
</div>
<% end %>
