<%= form_for :qa_sheets do |f| %>
  

<table class="table">
        
       
          <%= hidden_field_tag 'qa_sheets[answer_ids][]','' %>
          
            <tr><% @question.each do |question| %> 
              
              <td><%= label_tag question.id %></td>
              <td><%= label_tag question.content %></td>

              <% question.answer.each do |answer| %> 
              <td> 
              <%= check_box_tag "answersheet[answer_ids][]", answer.id, @answersheet.answer.include?(answer) %>
              <%= radio_button_tag "answersheet[answer_ids][]", answer.id, @answersheet.answer.include?(answer) %>
              
             

             
              </td>
              <% end %>
            </tr>
          <% end %>
       
      </table>
      <p><%= f.submit "Submit" %></p>
<% end %>