<div>
  hi hi
  <table class="table">
    <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>問卷</td>
      </tr>
    </thead>
    <tbody>
      <% @user.each do |user| %>
      
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to( user.name , user_path(user))%></td>
          <%# user.answer.each do |a| %>
          <% if user.answersheet %>
          <td><%= link_to("Answersheet", user_answersheet_path(user, user.answersheet)) %></td>
          <% else %>
          <td><%= link_to("New Answersheet", new_user_answersheet_path(user.id, user)) %></td>
          <% end %>
        </tr>
   
      <% end %>
    </tbody>
  </table>
</div>

