<div class='content_wrapper'>
  
  <table class="table">
    <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
       
      </tr>
    </thead>
    <tbody>
      <% @manager.each do |manager| %>
      
        <tr>
          <td><%= link_to manager.id, dashboard_admin_manager_path(manager) %></td>
          <td><%= manager.email %></td>
          
          
        </tr>
   
      <% end %>
    </tbody>
  </table>


  <table class="table">
    <thead>
      <tr>
        <td>項目</td>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= link_to "Cates", dashboard_admin_cates_path, class:'btn btn-info'%></td>
        </tr>
        <tr>
          <td><%= link_to "一般類別", dashboard_admin_ordinary_cates_path, class:'btn btn-info'%></td>
        </tr>
        <tr>
          <td><%= link_to "特殊類別", dashboard_admin_special_cates_path, class:'btn btn-info'%></td>
        </tr>
         <tr>
          <td><%= link_to "Issues",dashboard_admin_issues_path, class:'btn btn-info' %></td>
        </tr>
    </tbody>
  </table>

</div>