<%= form_for :question, :url => dashboard_user_answersheet_questions_path(@user,@user.answersheet), :method => :POST do |f| %>
<div>
  <%= hidden_field_tag 'answersheet[answer_ids][]','' %>
  <%= label_tag @question.id %><%= label_tag @question.content %><br>
  <% @question.answer.each do |answer| %> 
    <%= radio_button_tag "answersheet[answer_ids][]", answer.id %><%= label_tag answer.content %>
  <% end %>  
</div>


<div class="actions">
  <%= f.submit %>
</div>
<% end %>   
