<style>

.dashboard_panel {
    text-align: left;
    width: 350px;
    /* width: 50%; */
    /* margin: 100px 0 0 60px; */
    /* background-color: transparent; */
    /* color: #FFF; */
    /* border-color: #6C4F8F; */
    margin: 0 auto;
}
</style>
<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
</script>


<div class='content_wrapper profile_wrapper'> 
  <div class='dashboard_thumb'>
    <%= image_tag current_user.avatar.url(:thumb) %>
    <h1 class='thumb_username'><%=current_user.name%></h1>
    <hr>
  </div>
  <ul id="tabs" class='dashboard_wrapper clearfix'>
    <li class= 'dashboard_menu'>
      <ul  role="tablist">
        <li  role="tab" tabindex="0" aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true">
          <a href="#tabs-1" class="hbou g6sjr ui-tabs ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">已回答過的問題</a>
        </li>
        <li  role="tab" tabindex="-1" aria-controls="tabs-2" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false">
          <a href="#tabs-2" class="hbou g6sjr ui-tabs ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">編輯個人資料</a>
        </li>
        <li  role="tab" tabindex="-1" aria-controls="tabs-3" aria-labelledby="ui-id-3" aria-selected="false" aria-expanded="false">
          <a href="#tabs-3" class="hbou g6sjr ui-tabs ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3">編輯個人檔案</a>
        </li>
        <li  role="tab" tabindex="-1" aria-controls="tabs-4" aria-labelledby="ui-id-4" aria-selected="false" aria-expanded="false">
          <a href="#tabs-4" class="hbou g6sjr ui-tabs ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-4">變更密碼</a>
        </li>
      </ul>
    </li>
    <li id="tabs-1" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false">
      <div class='dashboard_content'>
        <ul class='clearfix'>
          <li class='top_paginate'>
            <%= will_paginate @paginate if @paginate %>
          </li>
          <li class='main_paginate'>
            <ul>
              <% @responded_issue.each do |ri| %>
                <li class='dashboard_responded'>
                 <span class='responded_issue'>
                  <%= label_tag ri.option.issue.content, nil, class: 'issue_content' %> 
                 </span>
                 <span class='responded_answer'>
                  <%= label_tag ri.option.content, nil, class: 'option_content' %>
                 </span>
                 <span class='responded_action'> 
                  <%= link_to "改答案", edit_dashboard_user_respond_path(@user, ri.id), class:"btn btn-xs" %>
                 </span>
                </li>
              <% end %>
            </ul>
          </li>
          <li class='bottom_paginate'>
            <%= will_paginate @paginate if @paginate %>
          </li>
        </ul>
     </div>
    </li>
    <li id="tabs-2" aria-labelledby="ui-id-2" role="tabpanel" aria-hidden="true">
      <div class='dashboard_content'>
        <div class='dashboard_main_content'>
         
          <%= form_for current_user.profile, url: dashboard_user_profile_path(current_user,  :id => :user_id), html: { method: :put, class: 'form-horizontal' } do |f| %>
            <div class="dashboard_panel panel ">
            <div class="panel-body">
              <div class="form-group">
                <%= f.label "地點" %><%= f.text_field :location, autofocus: true, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label "性別", style:"display:block" %><%= f.select :gender, Profile::GENDER_TYPES, class:"form-control" %>
              </div>
              <% @issues.each do |issue|%>
							<div class="form-group">
								<%= issue.content %>	
								<%= select_tag "profile[profile_option_attributes][][option_id]", options_from_collection_for_select(issue.option, "id" ,"content", @profile.option.where(:issue_id => issue.id).first.id), {:class =>"form-control"} %>
							</div>
							<% end %>
              <div class="form-group">
                <%= f.submit "Update", class: "btn btn-primary" %>
              </div>
            </div>
            </div>
          <% end %>
        </div>
     </div>
    </li>
    <li id="tabs-3" aria-labelledby="ui-id-3" role="tabpanel" aria-hidden="true">
      <div class='dashboard_content'>
        <div class='dashboard_main_content'>
          <%= form_for current_user, url: registration_path(current_user), html: { method: :put, class: 'form-horizontal' } do |f| %>
            <div class="dashboard_panel panel ">
            <div class="panel-body">
              <div class="form-group">
                <%= f.label "個人資料圖片" %>
                <%= f.file_field :avatar %>
              </div>
              <div class="form-group">
                <%= f.label :name %><%= f.text_field :name, autofocus: true, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :email %><%= f.email_field :email, class: 'form-control', required: true, autofocus: true  %>
              </div>
              <div class="form-group">
                <%= f.label :current_password %><%= f.password_field :current_password, autocomplete: "off", class: 'form-control', required: true, hint: "we need your current password to confirm your changes" %>
              </div>
              <div class="form-group">
                <%= f.submit "Update", class: "btn btn-primary" %>
              </div>
            </div>
            </div>
          <% end %>
        </div>
     </div>
    </li>
    <li id="tabs-4" aria-labelledby="ui-id-4" role="tabpanel" aria-hidden="true">
	    <div class='dashboard_content'>
	      <div class='dashboard_main_content'>
	        <%= form_for current_user, url: registration_path(current_user), html: { method: :put, class: 'form-horizontal' } do |f| %>
            <div class="dashboard_panel panel ">
            <div class="panel-body">
              <div class="form-group">
                <%= f.label :password %><%= f.password_field :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, class: 'form-control'  %>
              </div>
              <div class="form-group">
                <%= f.label :password_confirmation %><%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', required: false  %>
              </div>
              <div class="form-group">
                <%= f.label :current_password %><%= f.password_field :current_password, autocomplete: "off", class: 'form-control', required: true, hint: "we need your current password to confirm your changes" %>
              </div>
              <div class="form-group">
                <%= f.submit "Update", class: "btn btn-primary" %>
              </div>
            </div>
            </div>
          <% end %>
        </div>
     </div>
    </li>
  </ul>
</div>
  

