 <script>
        $(function() {
          $( "#tabs" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
          $( "#tabs li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
          
        });
</script>


<style>
.dashboard-menu{
  width: 240px;
  height:100%;
  display:inline-block;
  float:left;
  padding-top:10px;
  padding-bottom:10px;
  box-sizing: border-box;
}



.dashboard-content{
  width: 690px;
  min-height:720px;
  display:inline-block;
  float:left;
  border-left:1px solid #dbdbdb;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.dashboard-thumb {
    border: 0;
    height: 100%;
    padding: 10px;
    width: 100%;
    margin-bottom:20px;
    /*border-bottom: 1px solid #dbdbdb;*/
   
}
div.dashboard-thumb img {
  border-radius: 100%;
  border:1px solid #dbdbdb;
  
}

.menu-items {
  padding: 10px 10px 10px 50px;
  font-size: 20px;
  text-align: left; 
}

.dashboard-responded {
  border-bottom: solid 1px #efefef;
  padding: 10px;
}


.issue_id {
  width:30px;
  text-align: left;
    
}
.issue_content {
  width:260px;
  text-align: left;
    
}
.option_content {
  width:260px;
  text-align: left;
}

.top-paginate{
  margin-top:0px;
  position: absolute;
  top:0px;
  display: block;
    width: 95%;
}

.main-paginate{
  
  position: absolute;
  top:90px;
}

.bottom-paginate{
  margin-bottom:0px;
  position: absolute;
  bottom:0px;
  display: block;
  width: 95%;
  
}



div ul li a:hover {
    color: #fff;
    background-color: transparent;
    text-decoration: none; {
  
}

  
</style>

<script>
        
     
	$(function() {
		$( "#tabs" ).tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
		$( "#tabs li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );
	});
	
 </script>


  <ul class='dashboard-wrapper clearfix'>
    <li class='dashboard-menu'>
      <ul>
        <div class='dashboard-thumb'><%= image_tag current_user.avatar.url(:thumb) %></div>
        <li class='menu-items'><%= link_to "已回答過的問題", '#' %></li>
        <li class='menu-items'><%= link_to "編輯個人檔案", '#' %></li>
        <li class='menu-items'><%= link_to "變更密碼", '#' %></li>
      </ul>
      
    </li>
    
    <li class='dashboard-content'>
      <ul>
        <li class='top-paginate'><%= will_paginate @paginate if @paginate %></li>
        <li class='main-paginate'>
          <ul>
            <% @responded_issue.each do |ri| %>
              <li class='dashboard-responded'>
                <%= label_tag ri.option.issue.id, nil,  class: "issue_id" %>
                <%= label_tag ri.option.issue.content, nil, class: 'issue_content' %> 
                <%= label_tag ri.option.content, nil, class: 'option_content' %>
                <%= link_to "改答案", edit_dashboard_user_respond_path(@user, ri.id), class:"btn btn-info" %>
              </li>
            <% end %>
          </ul>
        </li>
        <li class='bottom-paginate'><%= will_paginate @paginate if @paginate %></li>
      </ul>
      
    </li>
   
  </ul>
  
<div id="tabs">
  <div class= 'dashboard-menu'>
    <div class='dashboard-thumb'><%= image_tag current_user.avatar.url(:thumb) %></div>
	  <ul  role="tablist">
		  <li  role="tab" tabindex="0" aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true"><a href="#tabs-1" class="ui-tabs ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">已回答過的問題</a></li>
		  <li  role="tab" tabindex="-1" aria-controls="tabs-2" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false"><a href="#tabs-2" class="ui-tabs ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">編輯個人檔案</a></li>
		  <li  role="tab" tabindex="-1" aria-controls="tabs-3" aria-labelledby="ui-id-3" aria-selected="false" aria-expanded="false"><a href="#tabs-3" class="ui-tabs ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3">變更密碼</a></li>
	  </ul>
	</div>
	<div id="tabs-1" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false">
		<li class='dashboard-content'>
		<ul>
        <li class='top-paginate'><%= will_paginate @paginate if @paginate %></li>
        <li class='main-paginate'>
          <ul>
            <% @responded_issue.each do |ri| %>
              <li class='dashboard-responded'>
                <%= label_tag ri.option.issue.id, nil,  class: "issue_id" %>
                <%= label_tag ri.option.issue.content, nil, class: 'issue_content' %> 
                <%= label_tag ri.option.content, nil, class: 'option_content' %>
                <%= link_to "改答案", edit_dashboard_user_respond_path(@user, ri.id), class:"btn btn-info" %>
              </li>
            <% end %>
          </ul>
        </li>
        <li class='bottom-paginate'><%= will_paginate @paginate if @paginate %></li>
      </ul>
      </li>
	</div>
	<div id="tabs-2" aria-labelledby="ui-id-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="true" style="display: none;">
		<h2>Content heading 2</h2>
		<p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
	</div>
	<div id="tabs-3" aria-labelledby="ui-id-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="true" style="display: none;">
		<h2>Content heading 3</h2>
		<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
		<p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
	</div>
</div>
  

