<%= form_for(@questionnaire) do |f| %>
  <% if @questionnaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionnaire.errors.count, "error") %> prohibited this questionnaire from being saved:</h2>

      <ul>
      <% @questionnaire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
    <div class="field">
       <%= hidden_field_tag 'questionnaire[survey_ids][]','' %>
       <% @survey.each do |survey| %> 
            <%#= check_box_tag "questionnaire[questionnaire_surveys_attributes][][survey_id]", survey.id %>
            <%= check_box_tag "questionnaire[survey_ids][]", survey.id, @questionnaire.survey.include?(survey) %>
            <%= label_tag survey.name %>
      <% end %>
    <%#= f.fields_for :questionnaire_surveys do |ff| %>
       <%#= ff.fields_for :survey do |builder| %>
         <%# @surveys.each do |survey| %> 
          <%#= collection_check_boxes(object, method, collection, value_method, text_method %>
          <%#= builder.collection_check_boxes  :name, @surveys, 'id', 'name' %>
          <%#= builder.collection_check_boxes :id, @surveys, :id, :name %>
          <%#= builder.collection_check_boxes :id, @surveys, 'id', 'name' %>
          <%#= builder.text_field :name, placeholder: survey.name %>
          <%#= collection_radio_buttons(question, :id, Answer.where(question_id: question.id), :id, :content )%>
          <%#= survey.collection_check_boxes :survey_ids, @surveys, :id, :name %>
         <%# end %>
       <%# end %>   
     <%# end %>
    </div>
  </p>
   
   <div class="actions">
    <%= f.submit %>
   </div>
<% end %>   

