<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @questionnaire.name %>
  
</p>


<% @questionnaire.survey.each do |survey| %>
	<ul> 
		<li><%= survey.name %></li>
	    <ol>
	    <% survey.question.each do |question| %>
		<li><%= question.content %></li>
			<ol>
		    <% question.answer.each do |answer| %>
			    <li><%= answer.content %></li>
		    <% end %>
		    </ol>
		<% end %>
		</ol>
	</ul>
<% end %>



<%= link_to 'Edit', edit_questionnaire_path(@questionnaire) %> |
<%= link_to 'Back', questionnaires_path %>



