
<style>



.form-horizontal .form-group{
    margin: 0px auto;
    margin-bottom: 10px;
}

.signin_banner {
  position:relative;
  width: 100%;
  height: 700px;
  /*background-color: rgb(0, 0, 0);*/
  display: block;
  box-sizing: border-box;
  text-align: center;
  background: url(<%= asset_path '1500765_3.png' %>);
  background-size: cover;
  
}

.signin_first_banner{
  text-align: center;
  /*background-color: rgba(0,0,0,0.5);*/
}




.signin_left_banner {
    /*width: 50%;*/
    /* height: 100%; */
    /*float: left;*/
    /* background-color: rgba(0, 0, 0, 0.42); */
    font-size: 65px;
    display: inline-block;
    color: #FFF;
    box-sizing: border-box;
    text-align: right;
    margin-top: 150px;
    margin-left: 80px;
    margin-right: 10px;
    
}

hr {
    border: 0;
    margin: 20px;
    border-top: 1px solid #eeeeee;
}


.clearfix:after {
  visibility: hidden; 
	display: block; 
	font-size: 0;
	content:' '; 
	clear: both;
	height: 0px;
}


.banner_word{
  display: block;  
}



.signin_right_banner {
    /* width: 50%; */
    /* height: 100%; */
    position: relative;
    /*float: left;*/
    /* background-color: rgba(0, 0, 0, 0.42); */
    /*margin-left: 10px;*/
    margin-top: 100px;
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
    background: linear-gradient(rgba(215, 199, 159, 0.75),rgba(99, 66, 58, 0.5));
}

/*註冊跟登入的panel*/

.signin_panel{
    width: 350px;
    /* width: 50%; */
    /* margin: 100px 0 0 60px; */
    background-color: transparent;
    color: #FFF;
    border-color: #6C4F8F;
    margin: 0 auto;
}
    

div.signin_heading.panel-heading{
    background-color:#6c4f8f;
    color:#FFF;
    text-align:center;
    border-color: #6C4F8F;
}

.panel-body {
    padding: 15px;
    text-align: left;
}

.form-horizontal .form-group{
    margin: 0px auto;
    margin-bottom: 10px;
}

.btn-primary {
    color:#FFF;
    background-color: #79589f;
    border-color: #5a4278;
    width: 100%;
    background-image: -webkit-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
    background-image: -webkit-gradient(linear,right top,left bottom,color-stop(0,rgba(159,88,150,0)),color-stop(1,rgba(159,88,150,0.6)));
    background-image: -o-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
    background-image: -moz-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
    background-image: -webkit-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
    background-image: -ms-linear-gradient(left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%);
    background-image: linear,to left bottom,rgba(159,88,150,0) 0,rgba(159,88,150,0.6) 100%;
}

.btn-primary:hover {
    color:#FFF;
    background-color: #6c4f8f;
    border-color: #5a4278;
   
}



a:hover {
   
    background-color:transparent;
}

    
</style>


<% content_for :signin_banner do %>
    <div class='wrapper'>
        <div class='signin_banner'>
            <ul class = 'signin_first_banner clearfix'>
                <li class = 'signin_right_banner'>
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
                        <%= devise_error_messages! %>
                        <% flash.each do |name, msg| %>
                          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
                        <% end %>  
                        <div class="signin_panel panel panel-default">
                            <div class="signin_heading panel-heading"><h3 class="panel-title">登入</h3> </div>
                            <div class="panel-body">
                                
                                <div class="form-group">
                                    <%= f.label :email%><%= f.email_field :email, required: true, autofocus: true , class: "form-control" %>
                                </div>
                                <div class="form-group">
                                    <%= f.label :password %><%= f.password_field :password, required: true, autocomplete: "off", class: "form-control" %>
                                </div>
                                <% if devise_mapping.rememberable? -%>
                                    <div class="form-group">
                                       <%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable?%> <%= f.label :remember_me %>
                                    </div>
                                <% end %>
                                <div class="form-group">
                                    <%= f.submit "Sign in", class: 'btn btn-primary' %>
                                </div>
                                <div class="form-group">    
                                    <%= render "devise/shared/links" %>
                                </div>
                          </div>
                        </div>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>

<% end %>
