<p>
    <%= f.label :content, "Question" %>
    <%= f.link_to_remove "Remove this Question" %><br/>
    <%= f.text_area :content, :rows => 3 %></br>
</p>

<%= f.fields_for :answer do |builder| %>
	<%= render 'answer_fields', :f => builder %>
<% end %>	
<p><%= f.link_to_add "Add an Answer", :answer %></p>
