<p id="notice"><%= notice %></p>

<h1>Listing Surveys</h1>

<table class="table talbe-bordered">
  <thead>
    <tr colspan="3">
      <th>Survey ID</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @survey.each do |survey| %>
      <tr>
        <td><%= survey.id %></td>
        <td><%= survey.name %></td>
        <td><%= link_to 'Show', survey %></td>
        <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
        <td><%= link_to 'Respond', :controller => 'surveys', :action => :respond, :id => survey.id %></td>
        <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey', new_survey_path  %>
