<style>



.option_first_banner{
  width: 100%;
  height: 100%;
}
.clearfix:after {
  visibility: hidden; 
	display: block; 
	font-size: 0;
	content:' '; 
	clear: both;
	height: 0px;
}

.option_right_banner {
    width: 50%; 
    /* height: 100%; */
    position: relative;
    /* float: left;*/
    /* background-color: rgba(0, 0, 0, 0.42); */
    margin-left: 10px;
    margin-top: 100px;
    display: inline-block;
}


.option_content{
    padding-top: 15px;
    text-align: left;
}

.option_radio{
    padding-left: 25px;
}
.option_label{
    margin-left: 20px;
}


</style>
<div class='content_wrapper option_wrapper'> 
<ul class = 'option_first_banner clearfix'>
    <li class = 'option_right_banner'>
        <%= form_for @respond, :url => dashboard_user_respond_path, :method => :PATCH do |f| %>
            <div class="edit_panel panel panel-default">
                <div class="edit_heading panel-heading">
                    <h3 class="panel-title">
                        <%= label_tag @respond.option.issue.id %>
                        <%= label_tag @respond.option.issue.content %>
                    </h3>
                </div>
                <div class="panel-body">
                     <div class='option_content'>
                    <% @respond.option.issue.option.each do |option| %>
                   
                        <div class="form-group">
                            <div class="option_radio">
                                <%= radio_button_tag "respond[option_id]", option.id %>
                                <%= label_tag option.content, nil, class:"option_label"%>
                            </div>
                        </div>
                    
                    <% end %>    
                    </div>
                    <div class="form-group">
                        <%= f.submit "Update", class: "btn btn-primary" %>
                    </div>
                </div>
            </div>
        <% end %>
    </li>
</ul>
</div>

 
 
 
 