<style>

.table > tbody > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}


</style>


<h1>已回答過的問題</h1><br>
<div>
 
  <table class='table'>
    <thead>
      <tr>
        <th class="col-md-2">Issue ID</th>
        <th class="col-md-6" >Issue Content</th>
        <th class="col-md-2">答案</th>
        <th class="col-md-2">修改</th>
      </tr>
    </thead>
    <tbody>
     <% if @responded_issue %>
        <% @responded_issue.each do |ri| %>
        <tr>
          <td><%= label_tag ri.option.issue.id %></td>
          <td><%= label_tag ri.option.issue.content %> </td>
          <td> <%= label_tag ri.option.content %> </td>
          <td>  <%= link_to "改答案", edit_dashboard_user_respond_path(@user, ri.id), class:"btn btn-info" %></td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<h1>未回答過的問題</h1><br>
<div>
  <table class='table'>
    <thead>
      <tr>
        <th class="col-md-2">Issue ID</th>
        <th class="col-md-6" >Issue Content</th>
        <th class="col-md-2">修改</th>
      </tr>
    </thead>
    <tbody>
       <% @unresponded_issue.each do |nri| %>
        <tr>
          <td><%= label_tag nri.id %></td>
          <td><%= label_tag nri.content %></td>
          <td> <%= link_to "回答", new_dashboard_user_respond_path(:q => nri.id),class:"btn btn-info" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>