<style>



.option_first_banner{
  width: 100%;
  height: 100%;
}
.clearfix:after {
  visibility: hidden; 
	display: block; 
	font-size: 0;
	content:' '; 
	clear: both;
	height: 0px;
}

.option_right_banner {
    width: 50%; 
    /* height: 100%; */
    position: relative;
    /* float: left;*/
    /* background-color: rgba(0, 0, 0, 0.42); */
    margin-left: 10px;
    margin-top: 100px;
    display: inline-block;
}


.option_content{
    padding-top: 15px;
    text-align: left;
}



</style>
<div class='content_wrapper option_wrapper'> 
<ul class = 'option_first_banner clearfix'>
    <li class = 'option_right_banner'>
        <%= form_for @user, :url => dashboard_user_responds_path, :method => :POST do |f| %>
        
            <div class="edit_panel panel panel-default">
                <div class="edit_heading panel-heading">
                  
                    <h3 class="panel-title">
                      
                    </h3>
                </div>
                <div class="panel-body">
                  <div class='option_content'>
                    <%= f.fields_for @respond do |ff|%>
                    <% @issues.each do |issue|%>
                      <%= label_tag issue.id %>
                      <%= label_tag issue.content %>
                      <%# issue.option.each do |option| %>
                        <div class="form-group">
                          <div class="radio">
                            <%#= f.radio_button :option_id, option.id %><%#= label_tag option.content %>
                            <%#= ff.radio_button :option_id, option.id %><%#= label_tag option.content %>
                            <%= ff.select :option_id, options_from_collection_for_select(issue.option, "id" ,"content"), {:class =>"form-control"} %>
                          </div>   
                        </div>
                      <% end %>    
                    <%# end %>
                    <% end %>
                  </div>
                    <div class="form-group">
                        <%= f.submit "送出", class: "btn btn-primary" %>
                    </div>
                </div>
            </div>
        <% end %>
    </li>
</ul>
</div>

 
 
 
 

