<style>



.option_first_banner{
  width: 100%;
  height: 100%;
}
.clearfix:after {
  visibility: hidden; 
	display: block; 
	font-size: 0;
	content:' '; 
	clear: both;
	height: 0px;
}

.option_right_banner {
    width: 50%; 
    /* height: 100%; */
    position: relative;
    /* float: left;*/
    /* background-color: rgba(0, 0, 0, 0.42); */
    margin-left: 10px;
    margin-top: 100px;
    display: inline-block;
}


.option_content{
  width:100%;
  padding-top: 15px;
  text-align: left;
}

.form-control{
    padding:0px !important;
}

#profile_gender{
	width:100%;
	font-size:16px;
}

</style>
<div class='content_wrapper option_wrapper'> 
	<ul class = 'option_first_banner clearfix'>
		<li class = 'option_right_banner'>
			<%= form_for @profile, :url => dashboard_user_profiles_path, :method => :POST do |f| %>
				<div class="edit_panel panel panel-default">
					<div class="edit_heading panel-heading">
						<h3 class="panel-title">個人資料</h3>
					</div>
					<div class="panel-body">
						<div class='option_content'>
					    <div class="form-group">
					      <%= label_tag "地點：" %> <%= f.text_field :location, class:"form-control" %>
					    </div>
							<div class="form-group">
								<%= label_tag "性別：" %> <%= f.select :gender, Profile::GENDER_TYPES, class:"form-control" %>
							</div>
							<div class="form-group">
								<%= label_tag @issues.find_by(:id => 20).content %> 
								<%= f.select :basic_option_a, @issues.find_by(:id => 20).option.collect {|p| [ p.content, p.id ] }, {}, {:class =>"form-control"} %>
							</div>
							
							<div class="form-group">
								<%= label_tag @issues.find_by(:id => 20).content %> 
								<%= f.select :basic_option_b, @issues.find_by(:id => 21).option.collect {|p| [ p.content, p.id ] }, {}, {:class =>"form-control"} %>
							</div>
							<div class="form-group">
								<%= label_tag @issues.find_by(:id => 20).content %> 
								<%= f.select :basic_option_c, @issues.find_by(:id => 22).option.collect {|p| [ p.content, p.id ] }, {}, {:class =>"form-control"} %>
							</div>
              
						</div>
						<div class="form-group">
							<%= f.submit "送出", class: "btn btn-primary" %>
						</div>
				  </div>
				</div>
			<% end %>
		</li>
	</ul>
</div>

 
 
 
 


