<style>



.option_first_banner{
  width: 100%;
  height: 100%;
}
.clearfix:after {
  visibility: hidden; 
	display: block; 
	font-size: 0;
	content:' '; 
	clear: both;
	height: 0px;
}

.option_right_banner {
    width: 50%; 
    /* height: 100%; */
    position: relative;
    /* float: left;*/
    /* background-color: rgba(0, 0, 0, 0.42); */
    margin-left: 10px;
    margin-top: 100px;
    display: inline-block;
}


.option_content{
  width:100%;
  padding-top: 15px;
  text-align: left;
}

.form-control{
    padding:0px !important;
}

#profile_gender{
	width:100%;
	font-size:16px;
}

</style>
<div class='content_wrapper option_wrapper'> 
	<ul class = 'option_first_banner clearfix'>
		<li class = 'option_right_banner'>
			<%= form_for @profile, :url => dashboard_user_profiles_path, :method => :POST do |f| %>
				<div class="edit_panel panel panel-default">
					<div class="edit_heading panel-heading">
						<h3 class="panel-title">個人資料</h3>
					</div>
					<div class="panel-body">
						<div class='option_content'>
					    <div class="form-group">
					      <%= label_tag "地點：" %> <%= f.text_field :location, class:"form-control" %>
					    </div>
							<div class="form-group">
								<%= label_tag "性別：" %> <%= f.select :gender, Profile::GENDER_TYPES, class:"form-control" %>
							</div>
							<%#builder.collection_select :person_id, Person.all, :id, :name, {:multiple => true} %>
 

						<%#試看看Nested Model%>	
						
							 	<%#= f.fields_for :profile_option do |oi_f| %>
							 		<%#= oi_f.fields_for :option_id do |oi_ff| %>
							 			<% @issues.each do |issue|%>
							 				<div class="form-group">.
							 					<%#= oi_ff.label issue.content %>	<%#= oi_ff.select nil, issue.option.all.collect {|p| [ p.content, p.id ] }, { }, { class: "form-control"}  %>	
							 					<%#"profile_option_attributes"=>{"0"=>{"option_id"=>["100", "103", "107"]}}},Unpermitted parameter: option_id%>
							 					<%#= oi_f.label issue.content %><%#= oi_f.collection_select :option_id, issue.option, :id ,:content, {:class =>"form-control"} %>
							 					<%= f.label issue.content %><%= f.collection_select :option_ids, issue.option, :id ,:content, {}, {:class =>"form-control", :multiple => true} %>
							 			</div>
							 			<%#= check_box_tag "questionnaire[questionnaire_surveys_attributes][][survey_id]", survey.id %>
							 				<%#= issue.content %>	<%#= select_tag "profile[profile_option_attributes][][option_id]", options_from_collection_for_select(issue.option, "id" ,"content"), {:class =>"form-control"} %>
							 				<%#= issue.content %>	<%#= select_tag "profile[option_ids]", options_from_collection_for_select(issue.option, "id" ,"content"), {:class =>"form-control"} %>
							 			<%# end %>
							 		<% end %>
							 	<%# end %>
							  
						<%#可以用的%>
							<div class="form-group">
							 	<%# @issues.each do |issue|%>
							 		<%#= issue.content %>	<%#= select_tag "profile[profile_option_attributes][][option_id]", options_from_collection_for_select(issue.option, "id" ,"content"), {:class =>"form-control"} %>
							 	<%# end %>
							</div>
							<%#可以用的%>	  
					
						<%#option_ids可以傳出去，但是不能存進資料庫%>
							<div class="form-group">
							 <%#= f.fields_for :profile_option do |oi_f| %>
							 		<%# @issues.each do |issue|%>
							 		<%#=issue.content %>	<%#= select_tag 'option_ids[]', options_from_collection_for_select(issue.option, "id" ,"content") %>
							 		<%# end %>
							 <%# end #%>
							  </div>
							<div class="form-group">
								<%# @issues.each do |issue|%>
          				<%#= label_tag issue.content %> <%#= f.select :option_ids, issue.option.collect {|p| [ p.content, p.id ] }, {}, {:class =>"form-control", :multiple => true} %>
          			<%# end %>
              </div>
              <%#要變成多選才能存進資料庫%>
              <div class="form-group">
          			<%#= label_tag "#{SpecialCate.find_by(:id => 4).issue.find_by(:id => 20).content}:" %> <%#= f.select :option_ids, SpecialCate.find_by(:id => 4).issue.find_by(:id => 20).option.collect {|p| [ p.content, p.id ] }, {}, {:class =>"form-control",:multiple => true} %>
              </div>
              <div class="form-group">
          			<%#= label_tag "#{SpecialCate.find_by(:id => 4).issue.find_by(:id => 21).content}:" %> <%#= f.select :option_ids, SpecialCate.find_by(:id => 4).issue.find_by(:id => 21).option.collect {|p| [ p.content, p.id ] }, {}, {:class =>"form-control",:multiple => true} %>
              </div>
              <div class="form-group">
          			<%#= label_tag "#{SpecialCate.find_by(:id => 4).issue.find_by(:id => 22).content}:" %> <%#= f.select :option_ids, SpecialCate.find_by(:id => 4).issue.find_by(:id => 22).option.collect {|p| [ p.content, p.id ] }, {}, {:class =>"form-control",:multiple => true} %>
              </div>
						</div>
						<div class="form-group">
							<%= f.submit "送出", class: "btn btn-primary" %>
						</div>
				  </div>
				</div>
			<% end %>
		</li>
	</ul>
</div>

 
 
 
 


