 <h1>變更</h1>

 


<%= simple_form_for [@user, @answersheet] do |f| %>
  



  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
    <div>
    <table>
    <thead>
      <tr>
        <td>#</td>
        <td>Questions ID</td>
        <td>Questions</td>
        <td>Answers</td>
      </tr>
    </thead>

          <tbody>
        <%= hidden_field_tag 'answersheet[answer_ids][]','' %>
        <% @question.each do |question| %> 

        <tr>
        <td>#</td>
            <td><%= label_tag question.id %></td>
            <td><%= label_tag question.content %></td>
        <% question.answer.each do |answer| %> 
           <td> <%= check_box_tag "answersheet[answer_ids][]", answer.id, @answersheet.answer.include?(answer) %>
            <%#= check_box_tag "questionnaire[survey_ids][]", survey.id, @questionnaire.survey.include?(survey) %>
            <%= label_tag answer.content %></td>
      <% end %>
      <% end %>
</tr>
    <tbody>

    </div>
  </p>
   
   <div class="actions">
    <%= f.submit %>
   </div>
<% end %>   


