<div>
  <div>
    <%= link_to("回答更多問題", new_user_answersheet_path) %>
  </div>
  <table>
    <thead>
      <tr>
        <td>#</td>
        <td>Answersheets</td>
        <td>Questions</td>
        <td>Answers</td>
      </tr>
    </thead>
    <tbody>
      <% @answersheet.each do |as| %>
      
        <tr>
          <td>#</td>
          <td><%= as.title %></td>
          <% as.answer.each do |a| %>
          <td><%= a.question_id %></td><td><%= a.content %></td>
        </tr>
        
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>