
  <h1>答題</h1>

 


<%= simple_form_for [@user, @answersheet] do |f| %>
  



  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
    <div>
        <%= hidden_field_tag 'answersheet[answer_ids][]','' %>
        <% @question.each do |question| %> 
            <%= label_tag question.content %>
        <% question.answer.each do |answer| %> 
            <%= check_box_tag "answersheet[answer_ids][]", answer.id %>
            <%= label_tag answer.content %>
      <% end %>
      <% end %>



    </div>
  </p>
   
   <div class="actions">
    <%= f.submit %>
   </div>
<% end %>   