<div>
  
  <table class="table">
    <thead>
      <tr>
        <td>#</td>
        <td>Questions ID</td>
        <td>Questions</td>
        <td>Answers</td>
      </tr>
    </thead>

          <tbody>
            <% @answersheet.answer.each do |as| %>
            
              <tr>
                <td>#</td>
                <td><%= as.question.id %></td>
                <td><%= as.question.content %></td>
                
                <td><%= as.content %></td>
              </tr>
              
           
            <% end %>
          </tbody>


    
  </table>
</div>


 