/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require jquery-ui/tabs
 
 *ui-tabs.css.scss is for overide jquery-ui
 *= require_tree 
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html body {
    position: relative;
    /*background-color:#e9eaed;*/
   /* background-color: rgba(252,248,227,0.9);*/ // 米黃色
    background-color: #f7f7f7; //heroku的背景色
    /*background-color: #8e67ac;*/
    width: 100%;
    height: 100%;
    padding-top: 50px;
    margin: 0px;
    font-family:"Source Sans Pro", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Lantinghei TC", "Hiragino Kaku Gothic Pro", "Microsoft Jhenghei", sans-serif;

    /*font-family: "Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif !important;*/
}



/* footer */

footer {
    height: 127px;
    margin-top: 0px;
    padding: 20px;
    border-top: 1px solid #eaeaea;
    color: #FFF;
    background-color: rgba(108, 79, 143, 0.9);
    a {
        color: #FFF;
        &:hover, &:visited, &:link, &:link:active, &:visited:active{
            color: #FFF;
            text-decoration: none;
            background-color: transparent;
        }
    }
    small {
        float: left;
        
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 15px;
            
        }
        
    }
}



/* general */

div, ul, li{
    
    list-style:none;
    padding:0;
    margin:0;
   
}

  
#logo {
    display: inline-block;
    background: image-url('qupid_250_70_w.png');
    width: 125px;
    height: 35px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 10px;
    
}




.navbar-default {
    /*background-color: rgba(142, 103, 172, 0.6);*/
    background-color: rgba(108,79,143,0.90);
    border-color: #6c4f8f;
    border-radius: 0px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
    padding-right: 20px;
    padding-left: 10px;
}



/*變更gems/bootstrap-sass-3.3.1.0/assets/stylesheets/bootstrap/_navbar.scss */

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}


.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #FFF;
    background-color: #8e67ac;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #FFF;
  background-color: #8e67ac;
}


table, td, tr {
	border: 0px;
}

.main-wrapper{
    
	display: block;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
	
}

.sub-wrapper{
   
	display: block;
	margin: 0 auto;
	padding: 0px 5px 0px 5px;
	text-align: center;
}

.content_wrapper{
    max-width: 935px;
    min-height: 950px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    width: 100%;
    height: 100%;
	display: block;
    background-color: #FFF;
	padding: 10px;
	text-align: center;
	margin: 20px auto;
}

.profile_wrapper{
    padding-left: 0px;
}

.option_wrapper{
    
    border: 0px solid #dbdbdb;
    
    background-color: transparent;
	
}

.container-fluid {
	width: 100%;
	display: block;
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}

.delete {
	opacity: 0;
}

.admin:hover .delete {
	opacity: 1;
}

.nested_form {
	width: 40%;
}

a.btn-purple {
  &:visited {
    color: #795F99;
    background-color: #fff;
    border-color: #795F99;
  }
}


a.btn-purple.visited,
a.btn-purple:hover, 
a.btn-purple:focus, 
a.btn-purple.focus, 
a.btn-purple.active, 
a.open > .btn-purple.dropdown-toggle {
    color: #fff !important;
    background-color: #795F99 !important;
    border-color: #795F99 !important;
}

.btn-purple {
    color: #795F99;
    background-color: #fff;
    border-color: #795F99;
}


.pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ 
}
.pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; 
}
.pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; 
}
.pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; 
    
}
.pagination a {
    text-decoration: none;
    color: #795F99;
    border: 1px solid #795F99; 
    
}
.pagination a:hover {
      color: #FFF;
      border-color: #795F99; 
}

.pagination a:focus {
      text-decoration: none;
    color: #795F99;
    border: 1px solid #795F99; 
}

.pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; 
}
.pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; 
}
.pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; 
}
  * html .pagination {
    height: 1%; }
  *:first-child + html .pagination {
    overflow: hidden; }
    

