/*!
 * jQuery UI Tabs 1.11.4
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/tabs/#theming
 */
/*
 *= require jquery-ui/core
 *= require jquery-ui/theme
 */
.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em .2em .2em 0.2em !important;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0 0 !important;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor: text;
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}


//


.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 0 !important; 
    background: none;
  
}




  

  

 
.ui-widget{
    width: 100%;
    font-family:"Source Sans Pro", "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Lantinghei TC", "Hiragino Kaku Gothic Pro", "Microsoft Jhenghei", sans-serif !important;
}
  

.ui-widget-header {
    border: 0px solid #aaaaaa !important;
    background: transparent !important;
    color: #222222;
    font-weight: bold;
}

.ui-widget-content {
    border: 0px solid #aaaaaa !important;
    color: #222222/*{fcContent}*/;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 130% !important;
    list-style: none;
}


.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
    border: 0px solid #d3d3d3 !important;
    background: transparent !important;
    font-weight: normal;
    color: #555555;
}


.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 0px solid #aaaaaa !important;
    background: transparent !important;
    font-weight: normal;
    color: #212121;
    outline: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 0px solid #999999 !important;
    background: transparent !important;
    font-weight: normal;
    color: #212121;
    outline: none;
}


.ui-state-hover a, 
.ui-state-hover a:hover, 
.ui-state-hover a:link, 
.ui-state-hover a:visited, 
.ui-state-focus a, 
.ui-state-focus a:hover, 
.ui-state-focus a:link, 
.ui-state-focus a:visited {
    color: #212121;
    text-decoration: none !important;
    outline: none;
}

.dashboard_wrapper{
  background-color: transparent;
}


.dashboard_menu{
  /*width: 230px;*/
  /*height: 100%;*/
  display: inline-block;
  /*float: left;*/
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}



.menu_items {
  padding: 10px 10px 10px 50px;
  font-size: 20px;
  text-align: left; 
}

.dashboard_content{
    width: 80%;
    min-height: 720px;
    /* display: inline-block; */
    /* float: left; */
    /*border-left: 1px solid #dbdbdb;*/
    padding: 20px;
    /* box-sizing: border-box; */
    /* position: relative; */
    margin: 0px auto 20px;
}

.dashboard_thumb {
    border: 0;
    height: 100%;
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    /* margin-bottom: 20px; */
    /* border-bottom: 1px solid #dbdbdb; */
   
}


div.dashboard_thumb img {
  border-radius: 100%;
  border:1px solid #dbdbdb;
  margin: 30px auto;
  
}


.hbou {
    border-bottom: 2px solid transparent;
    display: block;
    /*padding: 0.5em 0.2em 0.5em 1.7em !important;*/
    
}
.g6sjr:hover {
    border-bottom-color: #dbdbdb;
}



.dashboard_responded {
    width: 100%;
    padding: 20px 0px 0px 0px;
    display: inline-block;
    /* float: left; */
    margin: 10px auto;
    text-align: left;
    border-radius: 5px;
    border: solid 1px #efefef;
    border-bottom: 1px solid rgba(102,74,131,0.3);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

.responded_issue{
    display: block;
    border-bottom: 1px solid #EFEFEF;
    padding: 0px 0px 20px 20px;
    
}

.issue_id {
  width:30px;
  text-align: left;
    
}

.responded_answer {
  display: block;
    padding: 0px 0px 0px 40px;
    margin: 10px auto;
}

.answer_icon {
  display: inline-block;
    /* float: left; */
    /* border-radius: 100%; */
    margin: 5px 15px 5px 0px;
}

.user_answer {
  text-align: left;
  display: inline-block;
}

.icon_img {
 border-radius: 100%;
} 



.icon_answer {
  display: inline-block;
  float: left;
  /* border-radius: 100%; */
  margin: 5px;
}

.text_answer{
  display: inline-block;
  float: left;
  width: 180px;
  vertical-align: middle;
  line-height: 60px;
}

.responded_action{
    text-align: right;
    display: block;
    border-top: 1px solid #EFEFEF;
    padding: 10px 10px 12px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(239, 239, 239, 0.5);
}

label.issue_content {
    text-align: left;
    margin-bottom: 0px;
    color: #7A609A; 
    font-size: 1.5em;
}


.top_paginate{
  margin-top:0px;
  /*position: absolute;*/
  top:0px;
  display: block;
 
}

.main_paginate{
  
 /*position: absolute;*/
  top:90px;
}

.bottom_paginate{
  margin-bottom:0px;
  /*position: absolute;*/
  bottom:0px;
  display: block;
  
  
}


.option_content {
  width:260px;
  text-align: left;
}

.thumb_username {
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  margin-left: 20px;
}

.clearfix:after {
  visibility: hidden; 
	display: block; 
	font-size: 0;
	content:' '; 
	clear: both;
	height: 0px;
}

div ul li a:hover {
    color: #fff;
    background-color: transparent;
    text-decoration: none; 
  
}

a.btn.btn-xs:visited{
  color:#000;
  
}