<style>

.table > tbody > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}
.issue_title{
  width: 100%;
  /* margin: 0 auto; */
  text-align: left;
  /* padding-left: 20px; */
  color: rgb(121, 95, 153);
  /* background-color: #B09CC6; */
  padding-top: 20px;
  padding-bottom: 0px;
  border-radius: 3px;
}

.issue_wrapper{
  max-width: 935px;
  min-height: 950px;
  /*border: 1px solid #dbdbdb;*/
  border-radius: 3px;
  width: 100%;
  height: 100%;
	display: block;
  /*background-color: #FFF;*/
	padding: 10px;
	text-align: center;
	margin: 20px auto;
}

.title_text {
  display: inline-block;
  width: 126px;
  border-bottom: 3px solid #B09CC6;
  text-align: center;
}

.title_new {
  display: inline-block;
  margin: 0 0 0 20px;
}

.title-content{
    width: 140px;
    margin: 0 auto;
}




.table_design{
  text-align: left;
}

.table_wrapper{
 padding: 10px; 
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
    text-align: left;
}
</style>

<div class='issue_wrapper'>
  <ul class='issue_title'>
    <li class='title_text'>
      <h4>問題集</h4>
    </li>
    <li class='title_new'>  
      <%= link_to "建新問題", new_dashboard_admin_issue_path, class:"btn btn-primary" %>
    </li>
  </ul>
  <div class='content_wrapper'> 
  <div class='table_wrapper'>
  <table class='table table-hover table-borderless table_design'>
    <thead>
      <tr>
        <th class="col-md-2">Issue ID</th>
        <th class="col-md-6">Issue Content</th>
        <th class="col-md-4">Issue Cate Name</th>
        <th class="col-md-2">修改</th>
      </tr>
    </thead>
    <tbody>
      <% @issues.each do |issue| %>
        <tr>
          <td> <%= issue.id %></td>
          <td> <%= issue.content %></td>
          <td> <%= issue.cate.name %></td>
          <td> <%= link_to "修改", edit_dashboard_admin_issue_path(issue), class:"btn btn-purple" %></td>
          <td> <%= link_to "刪除", dashboard_admin_issue_path(issue), class:"btn btn-purple", method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>

