<style>



.option_first_banner{
  width: 100%;
  height: 100%;
}
.clearfix:after {
  visibility: hidden; 
	display: block; 
	font-size: 0;
	content:' '; 
	clear: both;
	height: 0px;
}

.option_right_banner {
    width: 50%; 
    /* height: 100%; */
    position: relative;
    /* float: left;*/
    /* background-color: rgba(0, 0, 0, 0.42); */
    margin-left: 10px;
    margin-top: 100px;
    display: inline-block;
}


.option_content{
  width:100%;
  padding-top: 15px;
  text-align: left;
}

.form-control{
    padding:0px !important;
}

</style>
<div class='content_wrapper option_wrapper'> 
	<ul class = 'option_first_banner clearfix'>
		<li class = 'option_right_banner'>
			<%= form_for @issue, :url => dashboard_admin_issues_path, :method => :POST do |f| %>
				<div class="edit_panel panel panel-default">
					<div class="edit_heading panel-heading">
						<h3 class="panel-title">
							建新問題
						</h3>
          </div>
          <div class="panel-body">
          	<div class='option_content'>
              <div class="form-group">
                <%#CATES_ARRAY = Cate.all.collect {|p| [ p.name, p.id ] }
  ORDINARY_CATES_ARRAY = OrdinaryCate.all.collect {|p| [ p.name, p.id ] }
  SPECIAL_CATES_ARRAY = SpecialCate.all.collect {|p| [ p.name, p.id ] }%>
          			<%= label_tag "類別：" %> <%= f.select :cate_ids, Issue::CATES_ARRAY, { }, {:class =>"form-control", :multiple => true} %>
              </div>
              <div class="form-group">
          			<%= label_tag "一般類別：" %> <%= f.select :ordinary_cate_ids, Issue::ORDINARY_CATES_ARRAY, { }, {:class =>"form-control", :multiple => true} %>
              </div>
              <div class="form-group">
          			<%= label_tag "特殊類別：" %> <%= f.select :special_cate_ids,  Issue::SPECIAL_CATES_ARRAY, { include_blank: true }, {:class =>"form-control", :multiple => true} %>
              </div>
              <div class="form-group">
								<%= label_tag "題目：" %> <%= f.text_field :content, class:"form-control" %>
							</div>
							<div class="form-inline">
								<div class="form-group">
									<%= f.fields_for :option do |option| %>
										<p>
										<%= label_tag "選項：" %>
										<%= option.text_field :content, class:"form-control" %>
										<%= option.check_box :_destroy, class:"checkbox" %><%= label_tag "刪除" %>
										<%#= option.link_to_remove "Remove this Answer" %>
										</p>
									<% end %>
								</div>
							</div>   
            </div>
            <div class="form-group">
                <%= f.submit "送出", class: "btn btn-primary" %>
            </div>
           </div>
          </div>
        <% end %>
    </li>
	</ul>
</div>

 
 
 
 


