00:44:00

<%= form_for Item.new, :url => Kitty2_path, :method => 'delete' do |f| %>

	<%= f.text_field :name %>
	<input name="single" value="1" />
	<input name="im_array[]" value="2" />
	<input name="im_array[]" value="3" />
	<input name="im_hash[im_key1]" value="?" />
	<input name="im_hash[im_key1]" value="!" />


<input id="item_name" name="item[name]" type="radio"/>


	<input id="age_child" name="age" type="radio" value="child" />
<label for="age_child">I am younger than 21</label>

A - 修改
answersheet/edit.html.erb

<h1>回答更多題目</h1>

 


<%= form_for [@user, @answersheet], url: dashboard_user_answersheet_path, method: :PATCH do |f| %>


  <p>
  <%= f.label :title %><%= f.text_field :title %><br/>
    <div>
      <table class="table">
        <thead>
          <tr>
          <td>#</td>
          <td>Questions ID</td>
          <td>Questions</td>
          <td>Answers</td>
          </tr>
        </thead>
        <tbody>
          <%= hidden_field_tag 'answersheet[answer_ids][]','' %>
          
            <tr><% @question.each do |question| %> 
              <td>#</td>
              <td><%= label_tag question.id %></td>
              <td><%= label_tag question.content %></td>
              <% question.answer.each do |answer| %> 
              <td> 
              <%#= check_box_tag "answersheet[answer_ids][]", answer.id, @answersheet.answer.include?(answer) %>
              <%#= radio_button_tag "answersheet[answer_ids][]", answer.id, @answersheet.answer.include?(answer) %>
              <%= radio_button_tag "answersheet[answer_ids][]", answer.id, @answersheet.answer.include?(answer) %>
              <%= label_tag answer.content %>
              
             

              <input id="answersheet_answer_id" name="answersheet[answer_ids]" type="radio" value="answer.id"/>
              <label for="answersheet_answer_id"><%= "#{answer.content}" %></label>


              </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </p>

  <div class="actions">
  <%= f.submit %>
  </div>
<% end %>   

<%#= check_box_tag "answersheet[answer_ids][]", answer.id, @answersheet.answer.include?(answer) %>

B- 新增
answersheet/new.html.erb

<h1>答題</h1>

<%= simple_form_for [@user, @answersheet], url: dashboard_user_answersheets_path, method: :POST do |f| %>
  <div>
    <table>
      <thead>
        <tr>
          <td>#</td>
          <td>Questions ID</td>
          <td>Questions</td>
          <td>Answers</td>
        </tr>
      </thead>

      <tbody>
        <%= hidden_field_tag 'answersheet[answer_ids][]','' %>
        <% @question.each do |question| %> 
        <tr>
          <td>#</td>
          <td><%= label_tag question.id %></td>
          <td><%= label_tag question.content %></td>
          <% question.answer.each do |answer| %> 
          <td> <%= check_box_tag "answersheet[answer_ids][]", answer.id, @answersheet.answer.include?(answer) %>
          <%= label_tag answer.content %></td>
          <% end %>
        </tr>
        <% end %>     
      </tbody>
    </table>
  </div>
  <div class="actions">
  <%= f.submit %>
  </div>
<% end %>   