rails new shop --database=mysql

tmux


database.yml




gem 'will_paginate'
gem 'awesome_print'
gem  'rails-pry'
gem 'devise'
gem 'paperclip'



resources :statics, :only =>[:index]
root "statics#index"

resources :items, only => [:index, :show]

namespace :dashboard do

  resources :orders
  namespace :admin do (取亂碼)
    resources :items
    resources :cates
    resources :orders
    resources :users
    resources :managers
  end

end


rails g devise User

rails g devise Manager
只剩下 
##Database authenticatable
跟
t.timestamps null:false
add_index :managers, :emails, unique: true



建議要加index
add_index :order_items, [:order_id]


要裝imagemagick (裝法要注意)
OS X: brew install imagemagick
Ubuntu: sudo apt_get install imagemagick
convert --help 我已經裝過了
gem "paperclip"

33:17
Video裡面是加在items，我要加在users
rails g migration add_item_cover
def up
add_attachment :users, :avatar
end

def down
remove_attachment :users, :avatar
end


35:15
Manager Model
管理員不允許被註冊，應該在console下打出來
(加註解＃把它刪掉，注意逗點的位置)
devise :database_authenticable #, :registerable, ＃:recoverable, :trackable, :validatable

37:09
Video裡面是加在items，我要加在users
has_attached_file :avatar, 
styles:{
original: "1024x1024>",
medium: "300x300>", 
thumb: "100x100"}, 
default_url:"/images/:style/missing.png"


admin
validates_attachment_content_type :avatar, content_type: /\Aimage\/.*\/.*\Z/

45:30
在controller下要建兩個namespace 資料夾
mkdir
dashboard

46:40 
要去ApplicationController
拷貝標頭
ApplicationController < ActionController::Base

貼到dashboard_controller
Dashboard::DashboardController < ApplicationController

before_action :authenticate_user!
(Dashboard::DashboardController 下面的每一層都可以繼承
到這個功能)

controllers/dashboard/
orders_controller.rb
Class Dashboard::OrdersController <Dashboard::DashboardController 


50:30
controllers/dashboard/admin/
Admin_Controller.rb
Dashboard::Admin::AdminController < ApplicationController

before_action :authenticate_manager!

51:30
controllers/dashboard/admin
items_controller.rb

class Dashboard::Admin::ItemsController < Dashboard::Admin::Admincontroller


53:00
IRB
Manager.create(:email => "wer@wer.wer", :password=>"werwerwer")
要記得rake db:migrate

1:00:00

class StaticsController < applicationController
(我應該是要放ＵＳＥＲＳ)
def index
 @items = Item.paginate(:page = > params[:page])
 end
end

@items = @paginate = Item.paginate(:page = > params[:page])

views/layouts/application.html.erb
<%= will_paginate @paginate if @paginate %>
<%= yield %>
<%= will_paginate @paginate if @paginate %>

1:10:00
把statics拿掉了
root "items#index"

1:12:00
開始打後台 (我這邊應該開始用Questionnaire跟Survey)
app/views/dashboard/admin

app/views/dashboard/admin/items

rake routes
edit.html.erb
UPDATE:
dashboard_admin_item_path, :method => 'patch'

new.html.erb
NEW:
dashboard_admin_items_path, :method => 'post'


1:26:00
app/views/layouts
要打三份
application.html.erb /對外頁面 :public
dashboard.html.erb  /使用者後台 :dashboard
admin.html.erb current_manager / 後台頁面 :admin

<ul>
<li> <%= link_to "商品管理" , dashboard_admin_items_path %></li>
</ul>

1:34:00
admin_controller.rb
要加上 
layout 'admin'

1:35:00
寫機器人塞產品
gem 'faker'
rail c
Faker
100.times do |i|
 Item.create (:name => Faker::Address.state , :price => rand(1..3000) :cate_id => "大雜燴")
 end; true
，這樣所有繼承Dashboard::Admin::AdminController都會變成後台頁面

edit 完，回到首頁
redirect_to :action => :index

1:45:00
form_for 後面要用{:url => dashboard_admin_item_path, :method => 'patch'}

1:47:30
加圖片 (rails toturial裡面應該有吧用戶加照片的解說)
views/dashboard/admin/items/edit.html.erb
圖片 <%= f.file_field :cover %>


抓圖片
wget ＋ 網址

1:54:00
類別
類別 <%= f.select :cate_id Cate.all.map {|c| c.name, c.id]}%>

1:58:00
CONSOLE LOG
很醜
代表ＶＩＥＷＳ是有問題的
解法在controller內
controllers/dashboard/admin/items_controller.rb

def index
@items = @paginate = Item.includes(:cate).paginate(:page => params[:page])
end

（用來做問題分類？）





Started PATCH "/dashboard/users/2/answersheets/1" for ::1 at 2015-11-29 21:30:00 +0800
Processing by Dashboard::AnswersheetsController#update as HTML
  Parameters: {"utf8"=>"✓", "authenticity_token"=>"jhlBRBpNh55F+qKyTOYm5HKpxy9JkiC7lBhq3P+oxMujVq2kmoTzFN69BIsWIAI7bD6i8JtKK3FtQr9nRvSZgA==", "answersheet"=>{"title"=>"", "answer_ids"=>["", "8", "69"]}, "commit"=>"Update Answersheet", "user_id"=>"2", "id"=>"1"}
  User Load (0.2ms)  SELECT  "users".* FROM "users" WHERE "users"."id" = ? LIMIT 1  [["id", 2]]
  User Load (0.1ms)  SELECT  "users".* FROM "users" WHERE "users"."id" = ?  ORDER BY "users"."id" ASC LIMIT 1  [["id", 2]]
  Answersheet Load (0.2ms)  SELECT  "answersheets".* FROM "answersheets" WHERE "answersheets"."user_id" = ? LIMIT 1  [["user_id", 2]]
   (0.1ms)  begin transaction
  Answer Load (0.3ms)  SELECT "answers".* FROM "answers" WHERE "answers"."id" IN (8, 69)
  Answer Load (0.1ms)  SELECT "answers".* FROM "answers" INNER JOIN "qa_sheets" ON "answers"."id" = "qa_sheets"."answer_id" WHERE "qa_sheets"."answersheet_id" = ?  [["answersheet_id", 1]]
  SQL (1.1ms)  INSERT INTO "qa_sheets" ("answersheet_id", "answer_id", "created_at", "updated_at") VALUES (?, ?, ?, ?)  [["answersheet_id", 1], ["answer_id", 8], ["created_at", "2015-11-29 13:30:00.852335"], ["updated_at", "2015-11-29 13:30:00.852335"]]
  SQL (0.1ms)  INSERT INTO "qa_sheets" ("answersheet_id", "answer_id", "created_at", "updated_at") VALUES (?, ?, ?, ?)  [["answersheet_id", 1], ["answer_id", 69], ["created_at", "2015-11-29 13:30:00.856361"], ["updated_at", "2015-11-29 13:30:00.856361"]]
   (0.9ms)  commit transaction
Redirected to http://localhost:3000/dashboard/users/2/answersheets/1
Completed 302 Found in 23ms (ActiveRecord: 3.1ms)




Started PATCH "/dashboard/users/2/answersheets/1" for ::1 at 2015-11-29 21:04:22 +0800
Processing by Dashboard::AnswersheetsController#update as HTML
  Parameters: {"utf8"=>"✓", "authenticity_token"=>"hlx6K0p6sQVZl4yNAsDjIg2hX5XVU9zA9gYGweSIF6KrE5bLyrPFj8LQKrRYBsf9EzY6SgeL1woPXNN6XdRK6Q==", "answersheet"=>{"title"=>"", "answer_ids"=>[""]}, "1"=>"1", "3"=>"6", "4"=>"9", "5"=>"12", "commit"=>"Update Answersheet", "user_id"=>"2", "id"=>"1"}
  User Load (0.1ms)  SELECT  "users".* FROM "users" WHERE "users"."id" = ? LIMIT 1  [["id", 2]]
  User Load (0.1ms)  SELECT  "users".* FROM "users" WHERE "users"."id" = ?  ORDER BY "users"."id" ASC LIMIT 1  [["id", 2]]
  Answersheet Load (0.1ms)  SELECT  "answersheets".* FROM "answersheets" WHERE "answersheets"."user_id" = ? LIMIT 1  [["user_id", 2]]
   (0.1ms)  begin transaction
  Answer Load (0.2ms)  SELECT "answers".* FROM "answers" INNER JOIN "qa_sheets" ON "answers"."id" = "qa_sheets"."answer_id" WHERE "qa_sheets"."answersheet_id" = ?  [["answersheet_id", 1]]
  SQL (0.6ms)  DELETE FROM "qa_sheets" WHERE "qa_sheets"."answersheet_id" = ? AND "qa_sheets"."answer_id" IN (1, 6, 12)  [["answersheet_id", 1]]
   (1.1ms)  commit transaction
Redirected to http://localhost:3000/dashboard/users/2/answersheets/1
Completed 302 Found in 14ms (ActiveRecord: 2.3ms)



Started PATCH "/dashboard/users/2/answersheets/1" for ::1 at 2015-11-29 21:38:34 +0800
Processing by Dashboard::AnswersheetsController#update as HTML
  Parameters: {"utf8"=>"✓", "authenticity_token"=>"LJURYnR/LHjXZyH0BQ2QQl/qmUbZY2CMJdyFlY5+akYB2v2C9LZY8kwgh81fy7SdQX38mQu7a0bchlAuNyI3DQ==", "answersheet"=>{"title"=>"", "answer_ids"=>["", "18"]}, "commit"=>"Update Answersheet", "user_id"=>"2", "id"=>"1"}
  User Load (0.2ms)  SELECT  "users".* FROM "users" WHERE "users"."id" = ? LIMIT 1  [["id", 2]]
  User Load (0.1ms)  SELECT  "users".* FROM "users" WHERE "users"."id" = ?  ORDER BY "users"."id" ASC LIMIT 1  [["id", 2]]
  Answersheet Load (0.1ms)  SELECT  "answersheets".* FROM "answersheets" WHERE "answersheets"."user_id" = ? LIMIT 1  [["user_id", 2]]
   (0.1ms)  begin transaction
  Answer Load (0.2ms)  SELECT  "answers".* FROM "answers" WHERE "answers"."id" = ? LIMIT 1  [["id", 18]]
  Answer Load (0.1ms)  SELECT "answers".* FROM "answers" INNER JOIN "qa_sheets" ON "answers"."id" = "qa_sheets"."answer_id" WHERE "qa_sheets"."answersheet_id" = ?  [["answersheet_id", 1]]
  SQL (8.5ms)  DELETE FROM "qa_sheets" WHERE "qa_sheets"."answersheet_id" = ? AND "qa_sheets"."answer_id" IN (8, 69)  [["answersheet_id", 1]]
  SQL (0.2ms)  INSERT INTO "qa_sheets" ("answersheet_id", "answer_id", "created_at", "updated_at") VALUES (?, ?, ?, ?)  [["answersheet_id", 1], ["answer_id", 18], ["created_at", "2015-11-29 13:38:34.190207"], ["updated_at", "2015-11-29 13:38:34.190207"]]
   (1.1ms)  commit transaction
Redirected to http://localhost:3000/dashboard/users/2/answersheets/1
Completed 302 Found in 24ms (ActiveRecord: 10.5ms)
