<% content_for :multi do %>
<style>
  span{
    display:inline-block;
    margin:0 4px;
    border-radius:5px;
    padding:0 4px;
    cursor:pointer;
  }
  span.add{
    background:#cfc;
  }
  span.del{
    background:#fcc;
  }
  .template{
    display:none;
  }
  li{
    padding:2px 10px;
    margin:2px;
    background:#ffd;
    border:1px #dd6 solid;
    border-radius:10px;
  }
  li.old_record{
    background:#ddf;
    border-color:#66d;
  }
</style>
<script>
function bind_item(target){
  target.find('.add').click(function(){
    var temp = $('.template').clone().removeClass('template');
    temp.find("select").each(function(){
      $(this).attr('name' , $(this).attr('data-name'));
    });
    $('ol').append(bind_item(temp));
  }).siblings('.del').click(function(){
    if($('ol li').length > 2){
      $(this).parent('li').remove();
    }
  });
  return target;
}
jQuery(function($){
  bind_item($('ol li'));
  if($('ol li').length === 1){ //only template
    $('ol li .add').click();
  }
});
</script>
<% end %>

<h1>Multi : <%= @current_user.name %></h1>

<%= form_tag multi_save_dashboard_user_answersheet_path do %>
  
  <ol>

   <% @question.each do |question| %> 
   <% @answer = question.answer.to_a %>
    <li class="template"> 
        <%= label_tag question.id %> 
        <%= label_tag question.content %>
        <select data-name="as_new[answer_id][]"><%= options_from_collection_for_select(@answer, :id, :content) %></select>
        <span class="add">add</span><span class="del">del</span></li>
    </li>
 <% end %>

  <% @question.each do |old_question| %>
  <% @answer = old_question.answer.to_a %>
      <li class="old_record">
      <%= label_tag old_question.id %> 
      <%= label_tag old_question.content %>
      
      <%= select_tag "as_old[answer_id][]" , options_from_collection_for_select(@answer, :id, :content) %></select>
      <span class="add">add</span><span class="del">del</span> (<%= old_question.id %>)
      </li>
  <% end %>
   
   
   
  </ol>
  <button type="submit">Submit</button>
<% end %>
