<h1>答題</h1>

<%= form_for [@user, @answersheet], url: dashboard_user_answersheets_path, method: :POST do |f| %>
  <div> <%= f.text_field :title, :value => "#{current_user.name}" %> 的問卷 </div><br>
   
  <div class="actions">
  <%= f.submit %>
  </div>
<% end %>   