<div>
  
  <table class="table">
    <thead>
      <tr>
        <td>#</td>
        <td>Questions ID</td>
        <td>Questions</td>
        <td>Answers</td>
      </tr>
    </thead>

          <tbody>
            <% @answersheet.answer.each do |as| %>
            
              <tr>
                <td>#</td>
                <td><%= as.question.id %></td>
                <td><%= as.question.content %></td>
                
                <td><%= as.content %></td>
              </tr>
              
           
            <% end %>
          </tbody>


    
  </table>
</div>

<h1>答題</h1>


  <div>
    <table>
      <thead>
        <tr>
          <td>#</td>
          <td>Questions ID</td>
          <td>Questions</td>
          <td>Answers</td>
        </tr>
      </thead>

      <tbody>
        <%= hidden_field_tag 'answersheet[answer_ids][]','' %>
        <% @question.each do |question| %> 
        <tr>
          <td>#</td>
          <td><%= label_tag question.id %></td>
          <td><%= label_tag question.content %></td>
          
          <td> <%= link_to "答題", edit_dashboard_user_answersheet_question_path(current_user, @answersheet, question) %>
          
          
        </tr>
        <% end %>     
      </tbody>
    </table>
  </div>
  