<style>



.option_first_banner{
  width: 100%;
  height: 100%;
}
.clearfix:after {
  visibility: hidden; 
	display: block; 
	font-size: 0;
	content:' '; 
	clear: both;
	height: 0px;
}

.option_right_banner {
  width: 50%; 
  /* height: 100%; */
  position: relative;
  /* float: left;*/
  /* background-color: rgba(0, 0, 0, 0.42); */
  margin-left: 10px;
  margin-top: 100px;
  display: inline-block;
}


.option_content{
  width:100%;
  padding-top: 15px;
  text-align: left;
}

</style>
<div class='content_wrapper option_wrapper'> 
  <ul class = 'option_first_banner clearfix'>
    <li class = 'option_right_banner'>
        <%= form_for @cate, :url => dashboard_admin_cate_path, :method => :PATCH do |f| %>
            <div class="edit_panel panel panel-default">
                <div class="edit_heading panel-heading">
                    <h3 class="panel-title">
                      編輯類別
                    </h3>
                </div>
                <div class="panel-body">
                     <div class='option_content'>
                    
                   
                        <div class="form-group">
                            <%= label_tag "類別名稱："%><%= f.text_field :name, class:"form-control" %>  
                        </div>
                    
                       
                    </div>
                    <div class="form-group">
                        <%= f.submit "送出", class: "btn btn-primary" %>
                    </div>
                </div>
            </div>
        <% end %>
    </li>
  </ul>
</div>
