<footer class="footer">
  <small>
    Copyright ©2016 Qupid Design by <a href="http://qupidservice.wix.com/goqupid" target=_new>Sean</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "New",   '#' %></li>
    </ul>
  </nav>
</footer>


