<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" style='background-color: transparent;'>
          <div id = 'logo'></div>
        </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if !current_manager %>
        
        
         <li> <%= link_to("登入", new_manager_session_path) %> </li>
       <% else %>
         <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             Hi!, <%= current_manager.email %>
             <b class="caret"></b>
           </a>
          <ul class="dropdown-menu">
             <li> <%= link_to( "管理員主頁", dashboard_admin_managers_path ) %> </li>
             <li> <%= link_to( "首頁", root_path ) %> </li>
             <li> <%= link_to( "登出", destroy_manager_session_path, method: :delete) %> </li>
           </ul>
         </li>
       <% end %>
      </ul>
    </div>
  </div>
</nav>