


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
        <a href="/" style='background-color: transparent;'>
          <div id = 'logo'></div>
        </a>
    </div>
    
    <div class="collapse navbar-collapse">
       <ul class="nav navbar-nav navbar-left">
        <% if current_user %>
           
          <li class="dropdown">
            <a href="/" class="dropdown-toggle" data-toggle="dropdown">
               <span> 用心，找對人</span> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            </a>
            <ul class="dropdown-menu">
              <li> <%= link_to( "最速配", dashboard_user_path(current_user) ) %> </li>
              <li> <%= link_to( "價值觀速配", root_path ) %> </li>
              <li> <%= link_to( "地區速配", edit_user_registration_path )%></li>
              <li> <%= link_to( "興趣速配", destroy_user_session_path, method: :delete) %> </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/" class="dropdown-toggle" data-toggle="dropdown">
              <span>為愛闖關</span> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
            <ul class="dropdown-menu">
              <li> <%= link_to( "新問題", unresponded_issue_responds_path ) %> </li>
              <li> <%= link_to( "已答題", responded_issue_responds_path ) %> </li>
              <li> <%= link_to( "今日問題", edit_user_registration_path )%></li>
              <li> <%= link_to( "時事題", destroy_user_session_path, method: :delete) %> </li>
            </ul>
          </li>
          
        <% end %>
      </ul>
   
      <ul class="nav navbar-nav navbar-right">
      
        <% if !current_user %>
          <li> <%= link_to("註冊", new_user_registration_path) %> </li>

          <li> <%= link_to("登入", new_user_session_path) %> </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Hi!, <%= current_user.name %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li> <%= link_to( "個人頁面", dashboard_user_path(current_user) ) %> </li>
              <li> <%= link_to( "首頁", root_path ) %> </li>
              <li> <%= link_to( "帳號設定", edit_user_registration_path )%></li>
              <li> <%= link_to( "登出", destroy_user_session_path, method: :delete) %> </li>
            </ul>
          </li>
      <% end %>
      
      </ul>
    </div>
  
  </div>
</nav>

