<!DOCTYPE html>
<html>
  <head>
    <title>Surveysays</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <%= javascript_include_tag :defaults, "nested_form" %>
   
  </head>
  <body>    
    <%= render "common/managernavbar" %>
    <%#=<h1>後台頁面 :admin</h1> %>
     <div class="main-wrapper">
      <div class='sub-wrapper'>
      <%= yield %>
    </div>
    </div>
   
    <%= render "common/footer" %>
  </body>
</html>