<!DOCTYPE html>
<html>
  <head>
    <title>Surveysays</title>
      <meta name="viewport" content='width=device-width, initial-scale=1'/> 
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <%= javascript_include_tag :defaults, "nested_form" %>
      <%= yield :registration_banner %>
      <%= yield :signin_banner %>
      <%= yield :edit_banner %>
  </head>
  <body>
    <%= render "common/navbar" %>
      <%#= <h1>開放頁面 :public</h1> %>
    <div class="main-wrapper">
      <div class='sub-wrapper'>
   
      <%= yield %>
      </div>
    </div>
    <%= render 'common/footer' %>
  </body>
</html>
