<!DOCTYPE html>
<html>
  <head>
    <title>Surveysays</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag :defaults, "nested_form" %>
    <%= yield :multi %>
  </head>
  <body>
    <%= render "common/navbar" %>
    <%#=<h1>用戶頁面 :dashboard</h1> %>
    
    <div class="main-wrapper">
      <div class='sub-wrapper'>
   
        <%= yield %>
      </div>
    </div>
   
    <%= render "common/footer" %>
  </body>
</html>